mixin moleca()
    .headerBlack
        .glitch-img.bgAnimation
            picture.line
                img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_30_16_23_50_unnamed.webp", alt="")
        .boxHeader
            .glitch-img-infinite
                picture.line.logotipo
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_30_16_30_30_Esquenta_pre-absurdo.png", alt="")
            .glitch
                h1.line Moleca na Black Friday é na Dafiti<br> <span>Os Maiores Descontos do Ano</span>
            .boxText
                p.text A Black Friday na Dafiti é o momento ideal para encontrar calçados da Moleca com descontos imperdíveis.
                p.text A marca, reconhecida por seu conforto e estilo, oferece uma ampla variedade de modelos femininos.
                p.text Encontre todas as opções de Moleca na Black Friday Dafiti e garanta os melhores preços em tênis, sandálias, sapatilhas e muito mais.
                p A Black Friday de 2025 acontecerá no dia 28 de novembro:
            //- +countdown('2025-11-28T00:00:00')
            .   
                {countdown-black-friday:latest}
    
    .boxNewInfos
        .maxBox
            .glitch.glitch-02
                h2.line Principais Sapatos Moleca na <b>Black Friday Dafiti</b>
            h3 Tênis, Sandálias e Sapatilhas Moleca na Black Friday
            p Os tênis, sandálias e sapatilhas Moleca são ideais para quem busca conforto e praticidade sem perder o estilo. Durante a Black Friday Dafiti, você encontra modelos que oferecem a combinação perfeita de design e conforto, com detalhes em texturas, recortes modernos e acabamentos que se adaptam ao seu dia a dia. Aproveite os descontos e renove seu guarda-roupa com peças versáteis e confortáveis.
            h3 Botas, Mocassins e Tamancos Moleca na Black Friday
            p Se você deseja um visual mais elegante e sofisticado, as botas, mocassins e tamancos da Moleca são opções certeiras durante a Black Friday Dafiti. Com solados confortáveis e materiais de alta qualidade, esses calçados oferecem o charme que você precisa para os dias mais frios ou ocasiões especiais. Não perca a oportunidade de adquirir modelos exclusivos com preços incríveis.
            h3 Rasteiras, Alpargatas e Papetes Moleca na Black Friday
            p As rasteiras, alpargatas e papetes Moleca são ideais para quem quer manter os pés frescos e confortáveis durante a estação mais quente. Com a Black Friday Dafiti, você pode aproveitar modelos com acabamentos leves, tiras trançadas e materiais respiráveis que proporcionam máximo conforto para os seus momentos de lazer. Garanta os seus favoritos com descontos imperdíveis!
    
    .boxForm
        .linha
        .glitch.glitch-02
            h2.line OFERTAS <span>EXCLUSIVAS</span>
        p.text Cadastre-se para receber ofertas e benefícios exclusivos das melhores marcas antes de todo mundo durante a Black Friday Dafiti.
        +template-formulario-crm('black-friday2025')
        .linha

    .boxInfos
        .bodyGroup
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_42_58_img1.png", alt="")
                p A <b>black</b> mais fashion do mundo
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_43_01_img2.png", alt="")
                p Os melhores descontos com até <b>80% off</b>
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_43_02_img3.png", alt="")
                p A melhor forma de pagamento em até <b>10x sem juros</b>
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_43_04_img4.png", alt="")
                p <b>Entrega em 24h</b> e se precisar trocar, retiramos na sua casa

    .boxQrCode
        .boxMax
            .boxImg
                img(src="https://dafitistatic.dafiti.com.br/cms/onsite/2023/black-friday/2023_10_25_16_02_39_qr-code.png", alt="")
            .boxText
                h2 Chegou a Black Friday Dafiti! Baixe o App e Arrase nas Compras!
                p Se você não quer perder nenhuma oportunidade nessa Black Friday, baixe o aplicativo Dafiti agora mesmo. Com ele, você terá acesso antecipado às ofertas e notificações instantâneas sobre seus produtos favoritos. Baixe o aplicativo Dafiti e curta toda a conveniência que você merece!
                a(href="https://www.dafiti.com.br/aplicativo-dafiti/")
                    p Baixe o App
    
    .boxAccordion
        .glitch
            h2.line <span>dúvidas sobre a</span> BLACK FRIDAY DAFITI
        +accordionComponent([
            {
                title: 'Onde encontrar as melhores ofertas de sapatos Moleca na Black Friday?',
                bodyAccordion: `
                    <h4>Não Perca as Ofertas Imperdíveis da Dafiti!</h4>
                    <p>As melhores ofertas de sapatos Moleca na Black Friday podem ser encontradas na Dafiti. Durante a promoção, a Dafiti oferece descontos exclusivos em diversos modelos, desde tênis e sandálias até botas e mocassins. É a oportunidade perfeita para garantir calçados Moleca de qualidade com preços incríveis!</p>
                `
            },
            {
                title: 'Por que comprar calçados Moleca na Black Friday Dafiti?',
                bodyAccordion: `
                    <p>A Black Friday Dafiti é o momento ideal para adquirir calçados Moleca. Confira abaixo alguns motivos para não perder essa oportunidade:</p>
                    <ol>
                        <li><h4>Grandes Descontos</h4>Aproveite preços mais baixos em uma ampla seleção de modelos Moleca.</li>
                        <li><h4>Devolução Facilitada</h4>Compre com confiança sabendo que você pode devolver facilmente caso não esteja satisfeito.</li>
                        <li><h4>Frete Grátis</h4>Em várias regiões, você pode garantir suas compras sem custo adicional de entrega.</li>
                        <li><h4>Variedade de Modelos</h4>Escolha entre uma ampla gama de sapatos, incluindo tênis, sandálias, botas e muito mais.</li>
                        <li><h4>Oportunidade de Renovação</h4>É a chance perfeita para atualizar seu guarda-roupa com calçados de qualidade da Moleca.</li>
                    </ol>
                `
            },
            {
                title: 'Quais são as opções de sapatos Moleca na Black Friday Dafiti?',
                bodyAccordion: `
                    <p>Na Black Friday Dafiti, você pode explorar uma ampla variedade de sapatos Moleca, perfeitos para todas as ocasiões. Confira a lista dos principais produtos disponíveis:</p>
                    <ul>
                    <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/tenis/moleca/">Tênis Moleca na Black Friday</a></h4></li>
                    <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/tenis/moleca/">Sandálias Moleca na Black Friday</a></h4></li>
                    <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/sapatilhas/moleca/">Sapatilhas Moleca na Black Friday</a></h4></li>
                    <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/tamanco/moleca/">Tamancos Moleca na Black Friday</a></h4></li>
                    <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/rasteiras/moleca/">Rasteiras Moleca na Black Friday</a></h4></li>
                    <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/alpargatas/moleca/">Alpargatas Moleca na Black Friday</a></h4></li>
                    <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/papete/moleca/">Papetes Moleca na Black Friday</a></h4></li>
                    <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/botas/moleca/">Botas Moleca na Black Friday</a></h4></li>
                    <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/mocassim/moleca/">Mocassins Moleca na Black Friday</a></h4></li>
                    </ul>
                    <p>Com tantas opções, você certamente encontrará o par perfeito para completar seu visual nesta Black Friday Dafiti. Não perca a chance de adquirir calçados Moleca que combinam conforto, estilo e qualidade!</p>
                `
            },
            {
                title: 'Como finalizar seu look com os sapatos Moleca disponíveis na Black Friday Dafiti?',
                bodyAccordion: `
                    <h4>
                        Combine Seus Sapatos Moleca Comprados na Black Friday Dafiti e Arrase no Look!
                    </h4>
                    <p>
                        Os sapatos Moleca disponíveis na Black Friday Dafiti são perfeitos para
                        finalizar qualquer look. Confira a tabela abaixo, que relaciona diferentes
                        tipos de looks, sugestões de combinações de peças, estilos, ocasiões e os
                        sapatos Moleca indicados:
                    </p>
                    <table border="1">
                        <thead>
                            <tr>
                            <th>Tipo de Look</th>
                            <th>Combinação de Peças</th>
                            <th>Ocasião</th>
                            <th>Sapato Moleca Indicado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>Casual</td>
                            <td>Jeans + Camiseta + Jaqueta Jeans</td>
                            <td>Dia a dia</td>
                            <td>Tênis Moleca</td>
                            </tr>
                            <tr>
                            <td>Chic</td>
                            <td>Vestido Midi + Acessórios Elegantes</td>
                            <td>Eventos especiais</td>
                            <td>Sandália Moleca</td>
                            </tr>
                            <tr>
                            <td>Clássico</td>
                            <td>Calça de Alfaiataria + Camisa Branca</td>
                            <td>Trabalho</td>
                            <td>Mocassim Moleca</td>
                            </tr>
                            <tr>
                            <td>Despojado</td>
                            <td>Shorts + Blusa de Algodão + Kimono</td>
                            <td>Passeios</td>
                            <td>Rasteira Moleca</td>
                            </tr>
                            <tr>
                            <td>Inverno</td>
                            <td>Calça Jeans + Suéter + Casaco Longo</td>
                            <td>Climas frios</td>
                            <td>Bota Moleca</td>
                            </tr>
                            <tr>
                            <td>Verão</td>
                            <td>Saia de Coração + Blusa Leve</td>
                            <td>Praia ou férias</td>
                            <td>Alpargata Moleca</td>
                            </tr>
                            <tr>
                            <td>Conforto</td>
                            <td>Legging + T-shirt + Jaqueta Leve</td>
                            <td>Atividades ao ar livre</td>
                            <td>Papete Moleca</td>
                            </tr>
                            <tr>
                            <td>Fashion</td>
                            <td>Macacão + Cinto + Acessórios Coloridos</td>
                            <td>Festas e baladas</td>
                            <td>Tamanco Moleca</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        Com essas opções de combinação, você poderá escolher o sapato Moleca que
                        melhor combina com seu look e a ocasião, garantindo conforto e estilo durante
                        a Black Friday Dafiti!
                    </p>
                `
            },
            {
                title: 'Como economizar com os melhores sapatos durante a Black Friday Dafiti?',
                bodyAccordion: `
                    <h4>Descubra as Melhores Ofertas de Sapatos Moleca na Black Friday Dafiti</h4>
                    <p>
                        As melhores ofertas de sapatos Moleca na Black Friday podem ser encontradas na
                        Dafiti. Durante essa data imperdível, a Dafiti oferece descontos exclusivos em
                        roupas, sapatos e acessórios das melhores marcas.
                    </p>
                    <p>
                        Além dos promoções incríveis, a Dafiti proporciona uma experiência de compra
                        excepcional, com devolução facilitada e frete grátis em diversas regiões. Essa
                        é a oportunidade perfeita para renovar seu guarda-roupa e investir em peças de
                        qualidade a preços acessíveis. Não deixe de conferir as novidades e aproveite
                        a chance de sair na frente com as melhores escolhas da temporada!
                    </p>
                `
            },
        ])

    . 
        {mais-buscados-black:latest}
    
    //- .boxSearched
        .glitch
            h2.line <span>Mais buscados da</span> BLACK
        .searched
            a(href="https://www.dafiti.com.br/nike/")
                h2 Nike Black Friday
            a(href="https://www.dafiti.com.br/adidas/")
                h2 Adidas Black Friday
            a(href="https://www.dafiti.com.br/mango/")
                h2 Mango Black Friday
            a(href="https://www.dafiti.com.br/santa-lolla/")
                h2 Santa Lolla Black Friday
            a(href="https://www.dafiti.com.br/gap/")
                h2 GAP Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/vestidos/")
                h2 Vestido Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/sandalias/")
                h2 Sandália Feminina Black Friday
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/")
                h2 Bolsa Black Friday
            a(href="https://www.dafiti.com.br/roupas-masculinas/camisetas/")
                h2 Camiseta Black Friday
            a(href="https://www.dafiti.com.br/roupas-masculinas/bermudas/")
                h2 Bermuda Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/rasteiras/")
                h2 Rasteira Black Friday
            a(href="https://www.dafiti.com.br/vizzano/")
                h2 Vizzano Black Friday
            a(href="https://www.dafiti.com.br/farm/")
                h2 FARM Black Friday
            a(href="https://www.dafiti.com.br/tricae/")
                h2 Tricae Black Friday
            a(href="https://www.dafiti.com.br/ogochi/")
                h2 Ogochi Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/mocassim/")
                h2 Mocassim Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/scarpins/")
                h2 Scarpin Black Friday
            a(href="https://www.dafiti.com.br/roupas/?q=calca%20jeans")
                h2 Calça Jeans Black Friday
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios/?q=carteira")
                h2 Carteira Black Friday
            a(href="https://www.dafiti.com.br/papete/")
                h2 Papete Black Friday
            a(href="https://www.dafiti.com.br/tommy-hilfiger/")
                h2 Tommy Hilfiger Black Friday
            a(href="https://www.dafiti.com.br/lacoste/")
                h2 Lacoste Black Friday
            a(href="https://www.dafiti.com.br/moleca/")
                h2 Moleca Black Friday
            a(href="https://www.dafiti.com.br/vans/")
                h2 Vans Black Friday
            a(href="https://www.dafiti.com.br/calvin-klein/")
                h2 Calvin Klein Black Friday
            a(href="https://www.dafiti.com.br/reserva/")
                h2 Reserva Black Friday
            a(href="https://www.dafiti.com.br/tenis/casual/")
                h2 Tênis Casual Black Friday
            a(href="https://www.dafiti.com.br/esporte-feminino/roupas/")
                h2 Roupa Fitness Black Friday
            a(href="https://www.dafiti.com.br/sneakers-dafiti/")
                h2 Sneaker Black Friday
            a(href="https://www.dafiti.com.br/calcados-masculinos/chinelos/")
                h2 Chinelo Black Friday
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios/relogio/")
                h2 Relógio Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/saias/")
                h2 Saia Black Friday
            a(href="https://www.dafiti.com.br/calcados-masculinos/sapato-social/")
                h2 Sapato Social Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/botas/")
                h2 Bota Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/calcas/")
                h2 Calça Black Friday
            a(href="https://www.dafiti.com.br/new-balance/")
                h2 New Balance Black Friday
            a(href="https://www.dafiti.com.br/asics/")
                h2 Asics Black Friday
            a(href="https://www.dafiti.com.br/havaianas/")
                h2 Havaianas Black Friday
            a(href="https://www.dafiti.com.br/esporte-masculino/acessorios-bones-e-gorros/")
                h2 Boné Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/moda-praia-biquini/")
                h2 Biquíni Black Friday

