.accordionComponent {
    width: 95%;
    max-width: 960px;
    margin: 3em auto 0;

    .accordion {
        width: 100%;

        .accordion-title {
            display: flex;
            align-items: center;
            cursor: pointer;
            background: #4E2F90;
            padding: 0.2em 2.5em 0.2em 1em;
            border: .15em solid #4E2F90;
            border-radius: 1.5em;
            font-weight: 500;
            transition: background 0.2s;
            position: relative;
            width: 100%;
            text-align: left;
            color: #ffffff;
            
            &:focus {
                // outline: 0.15em solid #007bff;
                // outline-offset: 0.15em;
            }

            &::before {
                content: '+';
                position: absolute;
                right: .5em;
                transition-duration: .3s;
                font-size: 1.7em;
                margin: 0;
            }

            &:hover {
                // background: #ddd;
            }

            h3, h4 {
                font-weight: 500;
            }
        }

        .accordion-title[aria-expanded="true"]::before {
            content: '-';
            transform: rotate(720deg);
        }

        .accordion-content {
            max-height: 0;
            overflow: hidden;
            transition: 0.25s all ease-in-out;
            // border: .15em solid #4E2F90;
            border-top: none;
            background-image: linear-gradient(to bottom, #381f6e, #4E2F90);
            opacity: 0;
            border-radius: 0 0 1.5em 1.5em;
            color: #ffffff;

            p, li, th, td, h4 {
                font-size: 1.4em;
            }

            li h4 {
                font-size: 1em !important;
            }

            th h4 {
                font-size: 1em;
                line-height: 1.3;
            }

            h4 {
                font-size: 1.5em;
            }

            p + p,
            h4 + p,
            p + h4,
            p + ul,
            ul + p,
            table + p {
                margin-top: .5em;
            }

            a {
                color: #ffffff;
                font-size: 1em;
                font-style: italic;
                p {
                    font-size: 1em;
                }
            }

            table {
                margin-top: 1em;
                border-color: #ffffff;
            }

            th, td {
                padding: .5em;
            }

            h4 {
                font-weight: 500;
            } 

            th {
                font-weight: 300;
            }

            ul, ol {
                padding-left: 1.5em;
                margin-top: .5em;
                li {
                    margin-top: .5em;
                }
                a {
                    color: #ffffff;
                }
            }
        }
        
        .accordion-title[aria-expanded="true"] {
            border-radius: 1.5em 1.5em 0 0;
        }

        .accordion-title[aria-expanded="true"] + .accordion-content {
            max-height: 100em;
            padding: 1em 2em;
            transition: 0.25s all ease-in-out;
            opacity: 1;
        }
    }

    .accordion + .accordion {
        margin-top: 1em;
    }
}