mixin sandalias()
    .headerBlack
        .glitch-img.bgAnimation
            picture.line
                img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_30_16_23_50_unnamed.webp", alt="")
        .boxHeader
            .glitch-img-infinite
                picture.line.logotipo
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_30_16_30_30_Esquenta_pre-absurdo.png", alt="")
            .glitch
                h1.line Sandálias Black Friday Dafiti<br> <span>Encontre as Melhores Ofertas em Sandálias Femininas!</span>
            .boxText
                p.text Nossa seleção exclusiva de sandálias oferece não apenas elegância, mas também economia.
                p.text Explore a variedade de estilos que você encontra na Black Dafiti!
                p A Black Friday de 2025 acontecerá no dia 28 de novembro:
            //- +countdown('2025-11-28T00:00:00')
            .   
                {countdown-black-friday:latest}
    
    .boxNewInfos
        .maxBox
            .glitch.glitch-02
                h2.line Principais Sandálias Femininas na <b>Black Friday Dafiti</b>
            .flexCardsImgs
                .card
                    .glitch-img
                        img.line(src="https://dafitistatic.dafiti.com.br/cms/2025_11_05_15_43_16_frame_glitch.jpg", alt="")
                    .glitch.glitch-02
                        h2.line <strong>ANABELA</strong>
                .card
                    .glitch-img
                        img.line(src="https://dafitistatic.dafiti.com.br/cms/2025_11_05_15_43_18_frame_glitch2.jpg", alt="")
                    .glitch.glitch-02
                        h2.line <strong>SALTO</strong> GROSSO
            a(href="https://www.dafiti.com.br/calcados-femininos/sandalia-anabela/") 
                h3 Anabela
            p As sandálias Anabela são conhecidas por seu salto em formato de cunha, proporcionando conforto e estilo.
            a(href="https://www.dafiti.com.br/calcados-femininos/sandalia-plataforma/") 
                h3 Plataforma
            p Com solas robustas e estilosas, as sandálias plataforma são ideais para quem busca altura com estabilidade.
            a(href="https://www.dafiti.com.br/calcados-femininos/sandalia-salto-fino/") 
                h3 Salto Fino e Salto Grosso
            p Escolha entre a elegância do salto fino ou o conforto do salto grosso.
            a(href="https://www.dafiti.com.br/calcados-femininos/rasteiras/") 
                h3 Papete e Rasteira
            p Para um visual mais descontraído, as papetes e rasteiras são opções excelentes.
    
    .boxForm
        .linha
        .glitch.glitch-02
            h2.line OFERTAS <span>EXCLUSIVAS</span>
        p.text Cadastre-se para receber ofertas e benefícios exclusivos das melhores marcas antes de todo mundo durante a Black Friday Dafiti.
        +template-formulario-crm('black-friday2025')
        .linha

    .boxInfos
        .bodyGroup
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_42_58_img1.png", alt="")
                p A <b>black</b> mais fashion do mundo
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_43_01_img2.png", alt="")
                p Os melhores descontos com até <b>80% off</b>
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_43_02_img3.png", alt="")
                p A melhor forma de pagamento em até <b>10x sem juros</b>
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_43_04_img4.png", alt="")
                p <b>Entrega em 24h</b> e se precisar trocar, retiramos na sua casa

    .boxQrCode
        .boxMax
            .boxImg
                img(src="https://dafitistatic.dafiti.com.br/cms/onsite/2023/black-friday/2023_10_25_16_02_39_qr-code.png", alt="")
            .boxText
                h2 Chegou a Black Friday Dafiti! Baixe o App e Arrase nas Compras!
                p Se você não quer perder nenhuma oportunidade nessa Black Friday, baixe o aplicativo Dafiti agora mesmo. Com ele, você terá acesso antecipado às ofertas e notificações instantâneas sobre seus produtos favoritos. Baixe o aplicativo Dafiti e curta toda a conveniência que você merece!
                a(href="https://www.dafiti.com.br/aplicativo-dafiti/")
                    p Baixe o App
    
    .boxAccordion
        .glitch
            h2.line <span>dúvidas sobre a</span> BLACK FRIDAY DAFITI
        +accordionComponent([
            {
                title: 'Onde encontrar as melhores ofertas de sandálias na Black Friday?',
                bodyAccordion: `
                    <h4>Ofertas Imperdíveis em Sandálias na Black Friday Dafiti!</h4>
                    <p>
                        Na Black Friday Dafiti, você encontrará as melhores ofertas de
                        sandálias em um único destino. Nossa plataforma online oferece uma
                        variedade impressionante de estilos, desde
                        <a href="https://www.dafiti.com.br/calcados-femininos/sandalia-anabela/">anabelas elegantes</a>
                        até
                        <a href="https://www.dafiti.com.br/calcados-femininos/rasteiras/">rasteiras descontraídas</a>, com descontos irresistíveis. Basta explorar nossa
                        <a href="https://www.dafiti.com.br/calcados-femininos/sandalias/">seção dedicada a sandálias</a>
                        durante a Black Friday para descobrir ofertas incríveis que se
                        encaixam no seu estilo e orçamento.
                    </p>
                `
            },
            {
                title: 'Quais são os diferentes modelos de sandálias da Black Friday Dafiti?',
                bodyAccordion: `
                    <p>
                        Durante a Black Friday Dafiti, você terá acesso a uma diversidade
                        incrível de modelos de sandálias para todos os gostos:
                    </p>
                    <ul>
                        <li>
                            <h4>
                            <a href="https://www.dafiti.com.br/calcados-femininos/sandalia-anabela/">Anabela em Promoção</a>
                            </h4>
                            Ideais para quem busca altura com conforto.
                        </li>
                        <li>
                            <h4>
                            <a href="https://www.dafiti.com.br/calcados-femininos/sandalia-plataforma/">Plataforma com Descontos</a>
                            </h4>
                            Oferecem estilo e estabilidade com solas robustas.
                        </li>
                        <li>
                            <h4>
                            <a href="https://www.dafiti.com.br/calcados-femininos/papete/">Papete em Liquidação</a>
                            </h4>
                            Perfeitas para um visual descontraído e moderno.
                        </li>
                        <li>
                            <h4>
                            <a href="https://www.dafiti.com.br/calcados-femininos/rasteiras/">Rasteira com Preços Especiais</a>
                            </h4>
                            Confortáveis e ótimas para ocasiões casuais.
                        </li>
                        <li>
                            <h4>
                            <a href="https://www.dafiti.com.br/calcados-femininos/sandalia-salto-fino/">Salto Fino</a>
                            e
                            <a href="https://www.dafiti.com.br/calcados-femininos/sandalia-salto-grosso/">Salto Grosso com Ofertas Exclusivas</a>
                            </h4>
                            Escolha entre elegância ou conforto, conforme preferir.
                        </li>
                        <li>
                            <h4>
                            <a href="https://www.dafiti.com.br/calcados-femininos/sandalias/">Sandália com Amarração em Promoção</a>
                            </h4>
                            Detalhes que adicionam um toque de charme ao calçado.
                        </li>
                    </ul>
                `
            },
            {
                title: 'Quais as principais marcas de sandálias na Black Friday Dafiti?',
                bodyAccordion: `
                    <div class="accordion_content">
                        <p>
                        Na Black Friday Dafiti, trabalhamos com as principais marcas de
                        sandálias femininas, incluindo:
                        </p>
                        <ul>
                        <li>
                            <h4>
                            <a href="https://www.dafiti.com.br/calcados-femininos/sandalias/vizzano/">Black Friday Vizzano</a>
                            </h4>
                        </li>
                        <li>
                            <h4>
                            <a href="https://www.dafiti.com.br/calcados-femininos/sandalias/santa-lolla/">Black Friday Santa Lolla</a>
                            </h4>
                        </li>
                        <li>
                            <h4>
                            <a href="https://www.dafiti.com.br/calcados-femininos/sandalias/beira-rio/">Black Friday Beira Rio</a>
                            </h4>
                        </li>
                        <li>
                            <h4>
                            <a href="https://www.dafiti.com.br/calcados-femininos/sandalias/jorge-bischoff/">Black Friday Jorge Bischoff</a>
                            </h4>
                        </li>
                        <li>
                            <h4>
                            <a href="https://www.dafiti.com.br/calcados-femininos/sandalias/capodarte/">Black Friday Capodarte</a>
                            </h4>
                        </li>
                        </ul>
                        <p>
                        Estas marcas renomadas são conhecidas por sua qualidade, estilo e
                        conforto. Ao escolher sandálias dessas marcas durante a Black
                        Friday, você está garantindo produtos de alta qualidade a preços
                        incrivelmente acessíveis.
                        </p>
                    </div>
                `
            },
            {
                title: 'Quais as principais tendências de sandálias encontradas na Black Friday Dafiti?',
                bodyAccordion: `
                    <table border="1">
                        <tbody><tr>
                            <th>Tipo de Sandália</th>
                            <th>Tendências</th>
                            <th>Cores em Destaque</th>
                            <th>Looks Recomendados</th>
                        </tr>
                        <tr>
                            <td>
                            <a href="https://www.dafiti.com.br/calcados-femininos/sandalia-anabela/">Anabela</a>
                            </td>
                            <td>Detalhes em Corda, Estampas Tropicais</td>
                            <td>Bege, Verde, Estampas Florais</td>
                            <td>
                            Perfeito para
                            <a href="https://www.dafiti.com.br/roupas-femininas/">Looks Boho Chic</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <a href="https://www.dafiti.com.br/calcados-femininos/sandalia-plataforma/">Plataforma</a>
                            </td>
                            <td>Estampas Geométricas, Listras</td>
                            <td>Azul Marinho, Vermelho, Amarelo</td>
                            <td>
                            Combinação com
                            <a href="https://www.dafiti.com.br/roupas-femininas/calcas-jeans/">Jeans</a>
                            e
                            <a href="https://www.dafiti.com.br/roupas-femininas/">Peças Casuais</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <a href="https://www.dafiti.com.br/calcados-femininos/sandalia-meia-pata/">Meia Pata</a>
                            </td>
                            <td>Detalhes em Metal, Franjas</td>
                            <td>Prata, Dourado, Preto</td>
                            <td>
                            Adiciona Elegância a
                            <a href="https://www.dafiti.com.br/roupas-femininas/vestido-de-festa/">Vestidos de Festa</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <a href="https://www.dafiti.com.br/calcados-femininos/sandalia-salto-fino/">Salto Fino</a>
                            </td>
                            <td>Transparências, Pedrarias</td>
                            <td>Nude, Rosa, Transparente</td>
                            <td>
                            Complemento para
                            <a href="https://www.dafiti.com.br/roupas-femininas/vestidos/">Vestidos de Noite</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <a href="https://www.dafiti.com.br/calcados-femininos/sandalia-salto-grosso/">Salto Grosso</a>
                            </td>
                            <td>Estilo Retrô, Texturas</td>
                            <td>Marrom, Vinho, Off-White</td>
                            <td>
                            Combine com
                            <a href="https://www.dafiti.com.br/roupas-femininas/saias/">Saia Midi</a>
                            e
                            <a href="https://www.dafiti.com.br/roupas-femininas/blusas/">Blusa Vintage</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <a href="https://www.dafiti.com.br/calcados-femininos/papete/">Papete</a>
                            </td>
                            <td>Esportivo Chic, Logomania</td>
                            <td>Preto, Branco, Vermelho</td>
                            <td>
                            Ótimo para
                            <a href="https://www.dafiti.com.br/roupas-femininas/">Estilo Streetwea</a>r
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <a href="https://www.dafiti.com.br/calcados-femininos/rasteiras/">Rasteira</a>
                            </td>
                            <td>Pedrarias, Amarrações</td>
                            <td>Diversas Cores: Azul, Verde, Rosa</td>
                            <td>
                            Perfeito para
                            <a href="https://www.dafiti.com.br/roupas-femininas/">Looks Leves de Verão</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                `
            },
            {
                title: 'Quais as dicas para escolher a sandália ideal na Black Friday Dafiti?',
                bodyAccordion: `
                    <p>
                    Para escolher a sandália ideal na Black Friday Dafiti, siga estas
                    dicas:
                    </p>
                    <ol>
                    <li>
                        <h4>Estilo Pessoal</h4>
                        Considere o seu estilo pessoal e as tendências que você gosta.
                    </li>
                    <li>
                        <h4>Ocasião de Uso</h4>
                        Pense na ocasião em que pretende usar a sandália, seja casual ou
                        formal.
                    </li>
                    <li>
                        <h4>Conforto</h4>
                        Priorize o conforto, escolhendo um modelo com o tipo de salto
                        que você se sente à vontade.
                    </li>
                    <li>
                        <h4>Tipo de Salto</h4>
                        Decida entre salto fino, salto grosso ou sem salto, conforme sua
                        preferência.
                    </li>
                    <li>
                        <h4>Cor e Detalhes</h4>
                        Escolha a cor que combina com seu guarda-roupa e preste atenção
                        aos detalhes como amarrações e texturas.
                    </li>
                    <li>
                        <h4>Marca</h4>
                        Se você tem preferência por uma marca específica, explore as
                        opções oferecidas por ela.
                    </li>
                    <li>
                        <h4>Avaliações dos Compradores</h4>
                        Confira as avaliações de outros compradores para ter insights
                        sobre qualidade e ajuste.
                    </li>
                    </ol>
                `
            },
            {
                title: 'Como aproveitar a Black Friday Dafiti?',
                bodyAccordion: `
                    <div class="accordion_content">
                        <h4>
                        Guia para Economizar: Aproveite ao Máximo a Black Friday Dafiti!
                        </h4>
                        <p>
                        Para aproveitar ao máximo a Black Friday Dafiti, fique de olho em
                        nossas ofertas especiais e descontos exclusivos. Cadastre-se para
                        receber alertas sobre promoções, siga nossas redes sociais e baixe
                        nosso aplicativo para acesso antecipado a ofertas relâmpago.
                        </p>
                        <p>
                        Planeje com antecedência, faça uma lista dos produtos que deseja
                        comprar e esteja pronto para economizar durante a Black Friday
                        Dafiti. Não perca a chance de renovar seu guarda-roupa com estilo
                        e economia!
                        </p>
                    </div>
                `
            },
        ])

    . 
        {mais-buscados-black:latest}
    
    //- .boxSearched
        .glitch
            h2.line <span>Mais buscados da</span> BLACK
        .searched
            a(href="https://www.dafiti.com.br/nike/")
                h2 Nike Black Friday
            a(href="https://www.dafiti.com.br/adidas/")
                h2 Adidas Black Friday
            a(href="https://www.dafiti.com.br/mango/")
                h2 Mango Black Friday
            a(href="https://www.dafiti.com.br/santa-lolla/")
                h2 Santa Lolla Black Friday
            a(href="https://www.dafiti.com.br/gap/")
                h2 GAP Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/vestidos/")
                h2 Vestido Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/sandalias/")
                h2 Sandália Feminina Black Friday
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/")
                h2 Bolsa Black Friday
            a(href="https://www.dafiti.com.br/roupas-masculinas/camisetas/")
                h2 Camiseta Black Friday
            a(href="https://www.dafiti.com.br/roupas-masculinas/bermudas/")
                h2 Bermuda Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/rasteiras/")
                h2 Rasteira Black Friday
            a(href="https://www.dafiti.com.br/vizzano/")
                h2 Vizzano Black Friday
            a(href="https://www.dafiti.com.br/farm/")
                h2 FARM Black Friday
            a(href="https://www.dafiti.com.br/tricae/")
                h2 Tricae Black Friday
            a(href="https://www.dafiti.com.br/ogochi/")
                h2 Ogochi Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/mocassim/")
                h2 Mocassim Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/scarpins/")
                h2 Scarpin Black Friday
            a(href="https://www.dafiti.com.br/roupas/?q=calca%20jeans")
                h2 Calça Jeans Black Friday
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios/?q=carteira")
                h2 Carteira Black Friday
            a(href="https://www.dafiti.com.br/papete/")
                h2 Papete Black Friday
            a(href="https://www.dafiti.com.br/tommy-hilfiger/")
                h2 Tommy Hilfiger Black Friday
            a(href="https://www.dafiti.com.br/lacoste/")
                h2 Lacoste Black Friday
            a(href="https://www.dafiti.com.br/moleca/")
                h2 Moleca Black Friday
            a(href="https://www.dafiti.com.br/vans/")
                h2 Vans Black Friday
            a(href="https://www.dafiti.com.br/calvin-klein/")
                h2 Calvin Klein Black Friday
            a(href="https://www.dafiti.com.br/reserva/")
                h2 Reserva Black Friday
            a(href="https://www.dafiti.com.br/tenis/casual/")
                h2 Tênis Casual Black Friday
            a(href="https://www.dafiti.com.br/esporte-feminino/roupas/")
                h2 Roupa Fitness Black Friday
            a(href="https://www.dafiti.com.br/sneakers-dafiti/")
                h2 Sneaker Black Friday
            a(href="https://www.dafiti.com.br/calcados-masculinos/chinelos/")
                h2 Chinelo Black Friday
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios/relogio/")
                h2 Relógio Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/saias/")
                h2 Saia Black Friday
            a(href="https://www.dafiti.com.br/calcados-masculinos/sapato-social/")
                h2 Sapato Social Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/botas/")
                h2 Bota Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/calcas/")
                h2 Calça Black Friday
            a(href="https://www.dafiti.com.br/new-balance/")
                h2 New Balance Black Friday
            a(href="https://www.dafiti.com.br/asics/")
                h2 Asics Black Friday
            a(href="https://www.dafiti.com.br/havaianas/")
                h2 Havaianas Black Friday
            a(href="https://www.dafiti.com.br/esporte-masculino/acessorios-bones-e-gorros/")
                h2 Boné Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/moda-praia-biquini/")
                h2 Biquíni Black Friday

