@use 'variables' as *;
@use './../styles/structure.scss' as structure;
@use './../styles/imports.scss' as imports;

p {
    font-size: 1.4em;
    line-height: 1.3;
}

.headerBlack {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

    .bgAnimation {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        // animation: linearLuz .03s infinite linear;
        picture {
            height: 100%;

            img {
                width: 120%;
                object-fit: cover;

                @media (max-width: $note-size) {
                    height: 100%;
                }
            }
        }
    }

    @keyframes linearLuz {
        0% {
            left: 0;
        }

        100% {
            left: -200%;
        }
    }

    .boxHeader {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 90%;
        max-width: 960px;
        padding: 4em 0 16em;

        .logotipo {
            margin: 0 auto;
            display: block;
            width: 45em;
            max-width: 100%;
        }

        h1,
        p {
            color: #ffffff;
            text-align: center;
        }

        .text {
            max-width: 800px;
            margin: 0 auto;
        }

        .glitch {
            margin-top: 2em;
            .line {
                font-size: 3.8em;
                line-height: .9;
                font-weight: 700;
        
                span {
                    font-size: .6em;
                }
            }
        }

        h1 {
            opacity: 0;
        }
    }
}

.boxNewInfos {
    background-image: linear-gradient(45deg, #192737, #193041);
    border-radius: 12em 12em 0 0;
    margin-top: -12em;
    position: relative;
    @media (max-width: $tablet-size) {
        border-radius: 6em 6em 0 0;
    }
    .maxBox {
        color: #ffffff;
        width: 960px;
        max-width: 90%;
        margin: 6em auto;
        display: flex;
        flex-direction: column;
        h2,
        .line {
            font-size: 3em;
            text-align: center;
            font-weight: 300;
            text-transform: uppercase;
        }
        h2 {
            opacity: 0;
        }
        h3 {
            text-align: center;
            font-size: 2em;
            margin: .5em 0;
        }
        p {
            text-align: center;
        }
        a {
            text-decoration: none;
        }
        a h3 {
            color: #ffffff;
        }
        .glitch + p {
            margin-top: .5em;
        }
        .flexCardsImgs {
            display: flex;
            justify-content: center;
            gap: 3em;
            width: 90%;
            max-width: 700px;
            margin: 3em auto 2em;
            @media (max-width: $tablet-size) {
                flex-direction: column;
            }

            .card {
                width: 45%;
                @media (max-width: $tablet-size) {
                    width: 100%;
                    max-width: 300px;
                    margin: 0 auto;
                }
                img {
                    width: 100%;
                }
                .glitch {
                    margin-top: 1em;
                    .line {
                        font-size: 2.2em;
                        font-weight: 300;
                        strong {
                            font-weight: 700;
                        }
                    }
                }
            }

            .card + .card {
                margin-top: 7em;
                @media (max-width: $tablet-size) {
                    margin-top: 0;
                }
            }
        }
    }
}

.boxForm {
    color: #ffffff;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;

    .linha {
        width: 100%;
        height: .1em;
        background-color: #cccccc;
        margin: 3em auto 1.5em;
    }

    h2,
    p {
        text-align: center;
    }

    h2 {
        opacity: 0;
    }

    .line {
        font-size: 4.2em;
        font-weight: 700;

        span {
            font-weight: 300;
        }
    }

    .text {
        max-width: 500px;
        margin: 1em auto 0;
    }
}

.boxInfos {
    color: #ffffff;
    max-width: 90%;
    margin: 4em auto;
    display: flex;
    overflow: auto;

    .bodyGroup {
        margin: 0 auto;
        display: flex;
        gap: 3em;
        .card {
            width: 13em;
            min-width: 13em;
            margin: 0;
            display: block;
    
            img {
                width: 100%;
                display: block;
            }
    
            p {
                width: 100%;
                text-align: center;
                font-weight: 200;
                margin-top: 1em;
    
                b {
                    font-weight: 600;
                }
            }
        }
    }

}

.boxQrCode {
    background-image: linear-gradient(to bottom, #4E2F90, #0064E9);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10em 10em 0 0;
    @media (max-width: $tablet-size) {
        border-radius: 2em 2em 0 0;
    }

    .boxMax {
        display: flex;
        gap: 3em;
        align-items: flex-start;
        width: 90%;
        max-width: 960px;
        margin: 0 auto;
        padding: 4em 0;
        @media (max-width: $note-size) {
            // width: calc(100% - 10em);
        }
        @media (max-width: $tablet-size) {
            width: 90%;
            padding: 4em 0%;
        }
        @media (max-width: $mobile-size) {
            flex-direction: column;
        }

        .boxImg {
            width: 20em;
            aspect-ratio: 1/1;
            padding: 1em 1em .5em;
            background-color: #ffffff;
            border-radius: 2em;

            img {
                width: 100%;
            }
        }
        .boxText {
            width: 100%;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            
            h2 {
                font-size: 2em;
                line-height: 1.2;
                margin-bottom: .5em;
                width: 100%;
                font-weight: 700;
            }

            p {
                width: 100%;
            }

            a {
                width: fit-content;
                border: .1em solid #ffffff;
                padding: 0.7em 2.5em;
                text-decoration: none;
                color: #ffffff;
                margin-top: 2em;
                border-radius: 5em;
                transition-duration: .3s;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.boxMostLovedTab {
    .line {
        font-size: 3.2em;
        font-style: italic;
        font-weight: 700;

        span {
            font-weight: 300;
        }
    }
    .most_loved_tabs {
        margin-top: 3em;
    }
}

.listLogs {
    width: 100%;
    max-width: 90%;
    margin: 2em auto 0;
    display: flex;
    overflow: auto;
    .bodyGroup {
        margin: 0 auto;
        display: flex;
        gap: 2em;
        .boxImg {
            border-radius: 100%;
            img {
                transition-duration: .3s;
                &:hover {
                    transform: scale(1.1) !important;
                }
            }
        }
    }
}

.boxAccordion {
    background-image: url('https://dafitistatic.dafiti.com.br/cms/2025_10_31_16_38_31_Section.png');
    background-size: cover;
    background-attachment: fixed;
    padding: 4em 0;
    .line {
        font-size: 3.2em;
        font-style: italic;
        font-weight: 700;
        text-transform: uppercase;

        span {
            font-weight: 300;
        }
    }
}

.boxSearched {
    padding: 4em 0;
    margin-bottom: 4em;
    background-image: linear-gradient(to bottom, #4E2F90, #0064E9);
    border-radius: 0 0 22em 22em;
    @media (max-width: $tablet-size) {
        border-radius: 0 0 2em 2em;
    }
    .line {
        font-size: 3.2em;
        font-style: italic;
        font-weight: 700;
        text-transform: uppercase;

        span {
            font-weight: 300;
        }
    }

    .searched {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1em;
        width: 85%;
        max-width: 960px;
        margin: 2em auto 0;
        a {
            background-color: #ffffff;
            text-decoration: none;
            color: #4E2F90;
            padding: .2em 2.5em;
            border-radius: 5em;
            transition-duration: .3s;
            h2 {
                font-weight: 600;
                font-size: 1.3em;
            }
            &:hover {
                background-color: #4E2F90;
                color: #ffffff;
            }
        }
    }
}

.lead {
    display: none !important;
}