mixin nike()
    .headerBlack
        .glitch-img.bgAnimation
            picture.line
                img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_30_16_23_50_unnamed.webp", alt="")
        .boxHeader
            .glitch-img-infinite
                picture.line.logotipo
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_30_16_30_30_Esquenta_pre-absurdo.png", alt="")
            .glitch
                h1.line Black Friday Nike é na Dafiti<br> <span>Os Maiores Descontos do Ano!</span>
            .boxText
                p.text Garanta Tênis, Roupas e Acessórios Nike na Black Friday da Dafiti, a marca das melhores marcas!
                p A Black Friday de 2025 acontecerá no dia 28 de novembro:
            //- +countdown('2025-11-28T00:00:00')
            .   
                {countdown-black-friday:latest}

    .boxNewInfos
        .maxBox
            .glitch.glitch-02
                h2.line Produtos Nike em Destaque na <b>Black Friday Dafiti</b>
            a(href="https://www.dafiti.com.br/tenis/nike/") 
                h3 Tênis Nike na Black
            p Air Force, Cortez, Zoom, Court Vision e muito mais. Descubra todos os modelos de Tênis Nike na Black Friday Dafiti com os melhores descontos do ano.
            a(href="https://www.dafiti.com.br/roupas/nike/") 
                h3 Roupas Nike na Black
            p Seja para esporte ou casual, descubra camisetas, calças, bermudas e mais roupas da Nike na Black Friday Dafiti. com preços imperdíveis nesta Black Friday.
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios/nike/") 
                h3 Acessórios Nike na Black
            p Bonés, Mochilas, Pochetes, Shoulder bag e mais Acessórios Nike na Black Friday Dafiti! Escolha seus preferidos na Black Friday Dafiiti, a marca das melhores marcas!.
    
    .boxForm
        .linha
        .glitch.glitch-02
            h2.line OFERTAS <span>EXCLUSIVAS</span>
        p.text Cadastre-se para receber ofertas e benefícios exclusivos das melhores marcas antes de todo mundo durante a Black Friday Dafiti.
        +template-formulario-crm('black-friday2025')
        .linha

    .boxInfos
        .bodyGroup
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_42_58_img1.png", alt="")
                p A <b>black</b> mais fashion do mundo
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_43_01_img2.png", alt="")
                p Os melhores descontos com até <b>80% off</b>
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_43_02_img3.png", alt="")
                p A melhor forma de pagamento em até <b>10x sem juros</b>
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_43_04_img4.png", alt="")
                p <b>Entrega em 24h</b> e se precisar trocar, retiramos na sua casa

    .boxQrCode
        .boxMax
            .boxImg
                img(src="https://dafitistatic.dafiti.com.br/cms/onsite/2023/black-friday/2023_10_25_16_02_39_qr-code.png", alt="")
            .boxText
                h2 Chegou a Black Friday Dafiti! Baixe o App e Arrase nas Compras!
                p Se você não quer perder nenhuma oportunidade nessa Black Friday, baixe o aplicativo Dafiti agora mesmo. Com ele, você terá acesso antecipado às ofertas e notificações instantâneas sobre seus produtos favoritos. Baixe o aplicativo Dafiti e curta toda a conveniência que você merece!
                a(href="https://www.dafiti.com.br/aplicativo-dafiti/")
                    p Baixe o App
    
    .boxAccordion
        .glitch
            h2.line <span>dúvidas sobre a</span> BLACK FRIDAY DAFITI
        +accordionComponent([
            {
                title: 'Onde encontrar os melhores produtos Nike com descontos na Black Friday?',
                bodyAccordion: `
                    <h4>Nike na Black Friday é na Dafiti!</h4>
                    <p>
                    Na <a href="https://www.dafiti.com.br/">Dafiti</a>, você
                    encontrará uma ampla seleção de produtos Nike com descontos
                    imperdíveis durante a Black Friday. Prepare-se para aproveitar
                    as melhores ofertas da temporada e renove seu estilo esportivo
                    com produtos de alta qualidade da Nike.
                    </p>
                    <p>
                    Confira as vantagens de fazer suas compras na Dafiti durante a
                    Nike Black Friday:
                    </p>
                    <ul>
                    <li>
                        Descontos exclusivos em tênis, roupas e acessórios Nike.
                    </li>
                    <li>
                        Variedade de estilos e modelos para homens, mulheres e
                        crianças.
                    </li>
                    <li>
                        Facilidade de compra online com entrega rápida e segura.
                    </li>
                    <li>
                        Atendimento ao cliente de excelência para tirar suas dúvidas.
                    </li>
                    <li>Garantia de produtos originais da Nike.</li>
                    </ul>
                    <p>
                        Não perca a oportunidade de economizar e adquirir os produtos
                        Nike que você deseja na Black Friday da Dafiti. Aproveite o
                        evento para renovar seu guarda-roupa esportivo com qualidade e
                        estilo incomparáveis.
                    </p>
                `
            },
            {
                title: 'Modelos de Tênis Nike na Black Friday',
                bodyAccordion: `
                    <p>
                    Encontre os melhores modelos de tênis Nike com descontos
                    incríveis durante a Black Friday na Dafiti. Confira nossa
                    seleção especial de:
                    </p>
                    <ul>
                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/tenis/nike/">Nike Air Max Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        O Nike Air Max é perfeito para estilo e conforto no dia a dia.
                        Use-o com jeans e uma camiseta para um visual casual ou
                        combine com roupas esportivas para treinos e corridas.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/tenis/nike/">Nike Air Force 1 Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        O clássico Nike Air Force 1 é versátil e elegante. Combine-o
                        com calças chino e uma camisa para um look mais sofisticado ou
                        use com shorts e uma camiseta para um visual descontraído.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/tenis/nike/">Nike Dunk Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        Os Nike Dunks são populares entre os entusiastas de sneakers.
                        Eles são ideais para um estilo urbano. Combine com jeans
                        skinny e uma jaqueta de couro para um visual moderno.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/tenis/nike/">Nike Zoom Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        Os tênis Nike Zoom são projetados para alto desempenho. Use-os
                        para corridas e treinos intensos. Combine com roupas
                        esportivas técnicas para obter o melhor desempenho.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/tenis/nike/">Nike Cortez Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        Os Nike Cortez têm um toque retrô. São ótimos para um estilo
                        casual e descontraído. Combine com calças jeans e uma camiseta
                        básica para um look atemporal.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/tenis/nike/">Nike React Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        O Nike React oferece conforto e estilo. Use-os para atividades
                        diárias ou caminhadas. Combine com calças de moletom e uma
                        jaqueta corta-vento para um visual relaxado.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/tenis/nike/">Nike Presto Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        Os Nike Presto são conhecidos por seu ajuste semelhante a uma
                        meia. São ideais para uso casual. Combine com shorts e uma
                        camiseta para um look leve e arejado.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/tenis/nike/">Nike Free Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        Os Nike Free são perfeitos para corridas leves e treinos.
                        Use-os com roupas esportivas técnicas para um desempenho
                        máximo e conforto durante o exercício.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/tenis/nike/">Nike Air Jordan Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        Os Air Jordan são clássicos do basquete. Use-os para mostrar
                        seu estilo nas ruas. Combine com calças cargo e uma camiseta
                        gráfica para um visual urbano.
                    </p>
                    </ul>
                    <p>
                        Aproveite as ofertas especiais da Black Friday para adquirir
                        esses modelos icônicos da Nike a preços imperdíveis. Não perca a
                        chance de renovar seu estilo com tênis de alta qualidade durante
                        o evento!
                    </p>
                `
            },
            {
                title: 'Roupas Nike na Black Friday',
                bodyAccordion: `
                    <p>
                    Encontre as melhores
                    <a href="https://www.dafiti.com.br/roupas/nike/">roupas da Nike</a>
                    com descontos imperdíveis durante a Black Friday na Dafiti.
                    Confira nossa seleção especial de:
                    </p>
                    <ul>
                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/roupas-masculinas/camisetas/nike/">Camiseta Dry Fit Nike Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        As camisetas Dry Fit da Nike são ideais para atividades
                        esportivas. Fique confortável e seco durante os treinos.
                        Combine com shorts ou calças de treino.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/roupas-masculinas/camisetas/nike/">Camiseta Casual Nike Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        As camisetas casuais da Nike são versáteis e elegantes. Use-as
                        para um look descontraído ou combine com jeans para um visual
                        casual chique.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/roupas-masculinas/camisetas/nike/">Camisa Nike Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        As camisas da Nike são perfeitas para ocasiões mais formais.
                        Use-as com calças sociais para um look elegante e
                        profissional.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/roupas-masculinas/camisetas-regatas/nike/">Regata Nike Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        As regatas da Nike são ideais para treinos intensos.
                        Mantenha-se fresco e confortável durante o exercício. Combine
                        com shorts ou calças de academia.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/roupas-femininas/shorts/nike/">Shorts Nike Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        Os shorts da Nike são ótimos para atividades esportivas e uso
                        casual. Use-os com camisetas ou regatas para um look esportivo
                        e confortável.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/roupas-masculinas/bermudas/nike/">Bermuda Casual Nike Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        As bermudas casuais da Nike são ideais para o dia a dia.
                        Use-as com camisetas ou camisas para um visual relaxado e
                        elegante.
                    </p>
                    </ul>
                    <p>
                    Aproveite as ofertas especiais da Black Friday para adquirir
                    essas roupas da Nike a preços incríveis. Renove seu guarda-roupa
                    esportivo e casual com qualidade durante o evento!
                    </p>
                `
            },
            {
                title: 'Acessórios Nike na Black Friday',
                bodyAccordion: `
                    <p>
                    Encontre os melhores
                    <a href="https://www.dafiti.com.br/bolsas-e-acessorios/nike/">acessórios da Nike</a>
                    com descontos incríveis durante a Black Friday na Dafiti.
                    Confira nossa seleção especial de:
                    </p>
                    <ul>
                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-masculinos/bones-e-chapeus/nike/">Boné Nike Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        Os bonés da Nike são perfeitos para proteção contra o sol e um
                        estilo esportivo. Use-os durante atividades ao ar livre ou
                        para complementar seu visual casual.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-masculinos/bones-e-chapeus/nike/">Chapéu Nike Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        Os chapéus da Nike oferecem estilo e proteção contra o sol.
                        Use-os em passeios ao ar livre e na praia para um look
                        descontraído e elegante.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/roupas/nike/">Meias Nike Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        As meias da Nike são essenciais para conforto durante
                        atividades físicas. Escolha entre diferentes estilos,
                        incluindo meias esportivas e casuais.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-masculinos/mochilas-e-malas/nike/">Mochila Nike Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        As mochilas da Nike são ideais para transportar seus pertences
                        com estilo. Use-as para a escola, academia ou viagens.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-masculinos/mochilas-e-malas/nike/">Pochete Nike Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        As pochetes da Nike são práticas e estilosas. Mantenha seus
                        pertences essenciais à mão enquanto adiciona um toque de moda
                        ao seu visual.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-masculinos/mochilas-e-malas/nike/">Shoulder Bag Nike Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        As shoulder bags da Nike são perfeitas para carregar seus
                        itens essenciais de forma elegante. Use-as em passeios urbanos
                        e eventos casuais.
                    </p>

                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios/nike/">Outros Acessórios Nike Black Friday</a>
                        </h4>
                    </li>
                    <p>
                        Além dos itens acima, a Nike oferece uma variedade de outros
                        acessórios, como cintos, luvas, óculos de sol e muito mais.
                        Explore nossa coleção completa durante a Black Friday.
                    </p>
                    </ul>
                    <p>
                        Aproveite as ofertas especiais da Black Friday para adquirir
                        esses acessórios da Nike a preços imperdíveis. Complete seu
                        visual esportivo e casual com qualidade durante o evento!
                    </p>
                `
            },
            {
                title: 'Dicas Exclusivas para Aproveitar Nike na Black Friday Dafiti',
                bodyAccordion: `
                    <h4>
                        Guia de Dicas: Garanta os melhores produtos Nike na Black Friday
                        Dafiti
                    </h4>

                    <table border="1">
                    <thead>
                        <tr>
                        <th>Situação</th>
                        <th>Dicas de Tênis Nike</th>
                        <th>Dicas de Roupas Nike</th>
                        <th>Dicas de Acessórios Nike</th>
                        <th>Look Final</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td rowspan="4">Academia</td>
                        <td>
                            <a href="https://www.dafiti.com.br/tenis/nike/">Nike Free</a>
                            para flexibilidade
                        </td>
                        <td rowspan="3">
                            <a href="https://www.dafiti.com.br/roupas/nike/">Camiseta Dry Fit</a>
                            e
                            <a href="https://www.dafiti.com.br/roupas/nike/">shorts</a>
                            Nike
                        </td>
                        <td>
                            <a href="https://www.dafiti.com.br/roupas/nike/">Meias</a>
                            Nike e
                            <a href="https://www.dafiti.com.br/bolsas-e-acessorios-masculinos/bones-e-chapeus/nike/">boné</a>
                        </td>
                        <td>
                            Visual esportivo e confortável para treinos intensos
                        </td>
                        </tr>
                        <tr>
                        <td>
                            <a href="https://www.dafiti.com.br/tenis/nike/">Nike Air Zoom</a>
                            para corridas na esteira
                        </td>
                        <td>
                            <a href="https://www.dafiti.com.br/roupas/nike/">Meias</a>
                            Nike e
                            <a href="https://www.dafiti.com.br/roupas/nike/">regata Dry Fit</a>
                        </td>
                        <td>Visual funcional para treinos variados</td>
                        </tr>
                        <tr>
                        <td>
                            <a href="https://www.dafiti.com.br/tenis/nike/">Nike Metcon</a>
                            para treinamento de peso
                        </td>
                        <td>
                            <a href="https://www.dafiti.com.br/roupas/nike/">Leggings</a>
                            Nike e
                            <a href="https://www.dafiti.com.br/roupas/nike/">regata Dry Fit</a>
                        </td>
                        <td>
                            Visual resistente e versátil para levantamento de peso
                        </td>
                        </tr>
                        <tr>
                        <td>
                            <a href="https://www.dafiti.com.br/tenis/nike/">Nike React Infinity Run</a>
                            para amortecimento
                        </td>
                        <td>
                            <a href="https://www.dafiti.com.br/roupas/nike/">Camiseta Dry Fit</a>
                            e
                            <a href="https://www.dafiti.com.br/roupas/nike/">shorts</a>
                            Nike
                        </td>
                        <td>
                            <a href="https://www.dafiti.com.br/bolsas-e-acessorios-masculinos/mochilas-e-malas/nike/">Bolsa</a>
                            Nike e fone de ouvido sem fio
                        </td>
                        <td>Conforto superior para corridas e treinos cardio</td>
                        </tr>
                        <tr>
                        <td rowspan="3">Caminhada/Corrida</td>
                        <td>
                            <a href="https://www.dafiti.com.br/tenis/nike/">Nike Air Max</a>
                            para amortecimento
                        </td>
                        <td rowspan="2">
                            <a href="https://www.dafiti.com.br/roupas/nike/">Camiseta de manga longa</a>
                            e
                            <a href="https://www.dafiti.com.br/roupas/nike/">leggings</a>
                            Nike
                        </td>
                        <td rowspan="2">
                            <a href="https://www.dafiti.com.br/roupas/nike/">Meias</a>
                            Nike e
                            <a href="https://www.dafiti.com.br/bolsas-e-acessorios-masculinos/bones-e-chapeus/nike/">boné</a>
                        </td>
                        <td>
                            Look esportivo e funcional para atividades ao ar livre
                        </td>
                        </tr>
                        <tr>
                        <td>
                            <a href="https://www.dafiti.com.br/tenis/nike/">Nike Zoom Pegasus</a>
                            para corridas na rua
                        </td>
                        <td>Visual resistente e versátil para corridas</td>
                        </tr>
                        <tr>
                        <td>
                            <a href="https://www.dafiti.com.br/tenis/nike/">Nike Joyride</a>
                            para conforto
                        </td>
                        <td>
                            <a href="https://www.dafiti.com.br/roupas/nike/">Moletom</a>
                            Nike e
                            <a href="https://www.dafiti.com.br/roupas/nike/">shorts de corrida</a>
                        </td>
                        <td>
                            <a href="https://www.dafiti.com.br/roupas/nike/">Meias</a>
                            Nike e
                            <a href="https://www.dafiti.com.br/bolsas-e-acessorios/nike/">braçadeira para celular</a>
                        </td>
                        <td>Conforto extremo para caminhadas e corridas leves</td>
                        </tr>
                        <tr>
                        <td rowspan="3">Churrasco</td>
                        <td>
                            <a href="https://www.dafiti.com.br/tenis/nike/">Nike Cortez</a>
                            para estilo casual
                        </td>
                        <td>
                            <a href="https://www.dafiti.com.br/roupas/nike/">Bermuda casual</a>
                            e
                            <a href="https://www.dafiti.com.br/roupas/nike/">camiseta casual</a>
                            Nike
                        </td>
                        <td>
                            <a href="https://www.dafiti.com.br/bolsas-e-acessorios-masculinos/bones-e-chapeus/nike/">Chapéu</a>
                            Nike e
                            <a href="https://www.dafiti.com.br/bolsas-e-acessorios-masculinos/mochilas-e-malas/nike/">mochila</a>
                        </td>
                        <td>
                            Visual descontraído e elegante para eventos ao ar livre
                        </td>
                        </tr>
                        <tr>
                        <td>
                            <a href="https://www.dafiti.com.br/tenis/nike/">Nike Air Force 1</a>
                            para versatilidade
                        </td>
                        <td>
                            <a href="https://www.dafiti.com.br/roupas/nike/">Calça</a>
                            Nike e
                            <a href="https://www.dafiti.com.br/roupas/nike/">camiseta casual</a>
                        </td>
                        <td>
                            <a href="https://www.dafiti.com.br/bolsas-e-acessorios-masculinos/bones-e-chapeus/nike/">Pochete</a>
                            Nike e
                            <a href="https://www.dafiti.com.br/bolsas-e-acessorios/nike/">óculos de sol</a>
                        </td>
                        <td>Estilo casual e confortável para churrascos</td>
                        </tr>
                        <tr>
                        <td>
                            <a href="https://www.dafiti.com.br/tenis/nike/">Nike Blazer</a>
                            para um toque retrô
                        </td>
                        <td>
                            <a href="https://www.dafiti.com.br/roupas/nike/">Bermuda casual</a>
                            e
                            <a href="https://www.dafiti.com.br/roupas/nike/">camiseta casual</a>
                            Nike
                        </td>
                        <td>
                            <a href="https://www.dafiti.com.br/bolsas-e-acessorios-masculinos/bones-e-chapeus/nike/">Chapéu</a>
                            Nike e
                            <a href="https://www.dafiti.com.br/bolsas-e-acessorios-masculinos/mochilas-e-malas/nike/">mochila</a>
                        </td>
                        <td>Visual com toque retrô para churrascos</td>
                        </tr>
                        <tr>
                        <td rowspan="3">Passeio Familiar</td>
                        <td>
                            <a href="https://www.dafiti.com.br/tenis/nike/">Nike Air Force 1</a>
                            para versatilidade
                        </td>
                        <td rowspan="2">
                            <a href="https://www.dafiti.com.br/roupas/nike/">Camiseta casual</a>
                            e
                            <a href="https://www.dafiti.com.br/roupas/nike/">calça</a>
                            Nike
                        </td>
                        <td rowspan="2">
                            <a href="https://www.dafiti.com.br/bolsas-e-acessorios-masculinos/mochilas-e-malas/nike/">Shoulder bag</a>
                            Nike e
                            <a href="https://www.dafiti.com.br/bolsas-e-acessorios/nike/">óculos de sol</a>
                        </td>
                        <td>
                            Visual casual e confortável para passeios em família
                        </td>
                        </tr>
                        <tr>
                        <td>
                            <a href="https://www.dafiti.com.br/tenis/nike/">Nike React</a>
                            para conforto
                        </td>
                        <td>Visual moderno e descontraído para passeios</td>
                        </tr>
                        <tr>
                        <td>
                            <a href="https://www.dafiti.com.br/tenis/nike/">Nike Presto</a>
                            para leveza
                        </td>
                        <td>
                            <a href="https://www.dafiti.com.br/roupas/nike/">Shorts</a>
                            e
                            <a href="https://www.dafiti.com.br/roupas/nike/">regata casual</a>
                            Nike
                        </td>
                        <td>
                            <a href="https://www.dafiti.com.br/bolsas-e-acessorios-masculinos/bones-e-chapeus/nike/">Chapéu</a>
                            Nike e
                            <a href="https://www.dafiti.com.br/bolsas-e-acessorios-masculinos/mochilas-e-malas/nike/">mochila</a>
                        </td>
                        <td>Estilo leve e fresco para passeios em família</td>
                        </tr>
                    </tbody>
                    </table>

                    <h4>Escolhendo o Produto Nike Perfeito na Black Friday Dafiti</h4>
                    <p>
                    A Black Friday Dafiti é o lugar ideal para encontrar produtos
                    Nike com descontos incríveis. Para garantir que você escolha o
                    produto perfeito durante essa grande promoção, siga estas dicas:
                    </p>
                    <h5>1. Defina Suas Necessidades</h5>
                    <p>
                    Comece determinando suas necessidades específicas. Você está
                    procurando por tênis para corrida, roupas esportivas ou
                    acessórios da Nike? Ter clareza sobre o que você deseja é o
                    primeiro passo para uma escolha bem-sucedida.
                    </p>
                    <h5>2. Estabeleça um Orçamento</h5>
                    <p>
                    Defina um orçamento antes de começar a procurar. A Black Friday
                    oferece ótimos descontos, mas é importante saber quanto você
                    está disposto a gastar para não se deixar levar pelas ofertas.
                    </p>
                    <h5>3. Faça uma Lista de Desejos</h5>
                    <p>
                    Elabore uma lista dos produtos Nike que você deseja adicionar ao
                    seu guarda-roupa ou coleção. Isso ajudará você a se concentrar
                    nas ofertas relevantes durante a Black Friday.
                    </p>
                    <h5>4. Fique de Olho nas Ofertas Antecipadas</h5>
                    <p>
                    Algumas lojas online começam a oferecer descontos antes da Black
                    Friday. Fique de olho nessas ofertas antecipadas para aproveitar
                    as promoções ainda mais cedo.
                    </p>
                    <h5>5. Compare Preços e Avaliações</h5>
                    <p>
                    Ao encontrar uma oferta, não se apresse em comprar. Compare
                    preços em diferentes lojas e leia avaliações de outros
                    compradores para garantir que você está obtendo um bom negócio
                    em um produto de qualidade.
                    </p>
                    <h5>6. Acompanhe as Promoções</h5>
                    <p>
                    Mantenha-se atualizado com as promoções da Black Friday Dafiti.
                    Inscreva-se nas newsletters das lojas e siga-as nas redes
                    sociais para receber atualizações sobre descontos e ofertas
                    exclusivas.
                    </p>
                    <h5>7. Verifique a Política de Devolução</h5>
                    <p>
                    Antes de finalizar a compra, verifique a política de devolução
                    da loja. Certifique-se de que você terá a opção de devolver ou
                    trocar o produto caso não atenda às suas expectativas.
                    </p>
                    <p>
                    Com estas dicas, você estará pronto para encontrar os produtos
                    Nike ideais durante a Black Friday Dafiti e aproveitar ao máximo
                    as melhores ofertas.
                    </p>
                `
            },
        ])

    . 
        {mais-buscados-black:latest}
    
    //- .boxSearched
        .glitch
            h2.line <span>Mais buscados da</span> BLACK
        .searched
            a(href="https://www.dafiti.com.br/nike/")
                h2 Nike Black Friday
            a(href="https://www.dafiti.com.br/adidas/")
                h2 Adidas Black Friday
            a(href="https://www.dafiti.com.br/mango/")
                h2 Mango Black Friday
            a(href="https://www.dafiti.com.br/santa-lolla/")
                h2 Santa Lolla Black Friday
            a(href="https://www.dafiti.com.br/gap/")
                h2 GAP Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/vestidos/")
                h2 Vestido Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/sandalias/")
                h2 Sandália Feminina Black Friday
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/")
                h2 Bolsa Black Friday
            a(href="https://www.dafiti.com.br/roupas-masculinas/camisetas/")
                h2 Camiseta Black Friday
            a(href="https://www.dafiti.com.br/roupas-masculinas/bermudas/")
                h2 Bermuda Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/rasteiras/")
                h2 Rasteira Black Friday
            a(href="https://www.dafiti.com.br/vizzano/")
                h2 Vizzano Black Friday
            a(href="https://www.dafiti.com.br/farm/")
                h2 FARM Black Friday
            a(href="https://www.dafiti.com.br/tricae/")
                h2 Tricae Black Friday
            a(href="https://www.dafiti.com.br/ogochi/")
                h2 Ogochi Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/mocassim/")
                h2 Mocassim Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/scarpins/")
                h2 Scarpin Black Friday
            a(href="https://www.dafiti.com.br/roupas/?q=calca%20jeans")
                h2 Calça Jeans Black Friday
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios/?q=carteira")
                h2 Carteira Black Friday
            a(href="https://www.dafiti.com.br/papete/")
                h2 Papete Black Friday
            a(href="https://www.dafiti.com.br/tommy-hilfiger/")
                h2 Tommy Hilfiger Black Friday
            a(href="https://www.dafiti.com.br/lacoste/")
                h2 Lacoste Black Friday
            a(href="https://www.dafiti.com.br/moleca/")
                h2 Moleca Black Friday
            a(href="https://www.dafiti.com.br/vans/")
                h2 Vans Black Friday
            a(href="https://www.dafiti.com.br/calvin-klein/")
                h2 Calvin Klein Black Friday
            a(href="https://www.dafiti.com.br/reserva/")
                h2 Reserva Black Friday
            a(href="https://www.dafiti.com.br/tenis/casual/")
                h2 Tênis Casual Black Friday
            a(href="https://www.dafiti.com.br/esporte-feminino/roupas/")
                h2 Roupa Fitness Black Friday
            a(href="https://www.dafiti.com.br/sneakers-dafiti/")
                h2 Sneaker Black Friday
            a(href="https://www.dafiti.com.br/calcados-masculinos/chinelos/")
                h2 Chinelo Black Friday
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios/relogio/")
                h2 Relógio Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/saias/")
                h2 Saia Black Friday
            a(href="https://www.dafiti.com.br/calcados-masculinos/sapato-social/")
                h2 Sapato Social Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/botas/")
                h2 Bota Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/calcas/")
                h2 Calça Black Friday
            a(href="https://www.dafiti.com.br/new-balance/")
                h2 New Balance Black Friday
            a(href="https://www.dafiti.com.br/asics/")
                h2 Asics Black Friday
            a(href="https://www.dafiti.com.br/havaianas/")
                h2 Havaianas Black Friday
            a(href="https://www.dafiti.com.br/esporte-masculino/acessorios-bones-e-gorros/")
                h2 Boné Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/moda-praia-biquini/")
                h2 Biquíni Black Friday

