mixin chinelos()
    .headerBlack
        .glitch-img.bgAnimation
            picture.line
                img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_30_16_23_50_unnamed.webp", alt="")
        .boxHeader
            .glitch-img-infinite
                picture.line.logotipo
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_30_16_30_30_Esquenta_pre-absurdo.png", alt="")
            .glitch
                h1.line Chinelos na Black Friday Dafiti<br> <span>Todas as Opções em Um Só Lugar</span>
            .boxText
                p.text A Black Friday é a oportunidade perfeita para renovar o guarda-roupa e aproveitar ofertas incríveis.
                p.text Os chinelos da Dafiti oferecem conforto e estilo para toda a família.
                p A Black Friday de 2025 acontecerá no dia 28 de novembro:
            //- +countdown('2025-11-28T00:00:00')
            .   
                {countdown-black-friday:latest}

    .boxNewInfos
        .maxBox
            .glitch.glitch-02
                h2.line Modelos de Chinelo Para Comprar na <b>Black Friday Dafiti</b>
            p Os chinelos estão disponíveis em diversos modelos que atendem a todos os estilos e necessidades:
            a(href="https://www.dafiti.com.br/calcados/?q=chinelo") 
                h3 De Dedo
            p Clássicos e práticos, ideais para o dia a dia.
            a(href="https://www.dafiti.com.br/catalog/?q=chinelo+slide&wtqs=1") 
                h3 Slide
            p Confortáveis e fáceis de calçar, perfeitos para usar em casa ou na praia.
            a(href="https://www.dafiti.com.br/catalog/?q=chinelo&wtqs=1") 
                h3 Casual e Esportivo
            p Modelos que combinam conforto e estilo para atividades ao ar livre, passeios ou uso cotidiano.
            a(href="https://www.dafiti.com.br/calcados/?q=chinelo") 
                h3 Liso e Estampado
            p Simples, elegantes e divertidos, fáceis de combinar com qualquer look.
    
    .boxForm
        .linha
        .glitch.glitch-02
            h2.line OFERTAS <span>EXCLUSIVAS</span>
        p.text Cadastre-se para receber ofertas e benefícios exclusivos das melhores marcas antes de todo mundo durante a Black Friday Dafiti.
        +template-formulario-crm('black-friday2025')
        .linha

    .boxInfos
        .bodyGroup
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_42_58_img1.png", alt="")
                p A <b>black</b> mais fashion do mundo
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_43_01_img2.png", alt="")
                p Os melhores descontos com até <b>80% off</b>
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_43_02_img3.png", alt="")
                p A melhor forma de pagamento em até <b>10x sem juros</b>
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_43_04_img4.png", alt="")
                p <b>Entrega em 24h</b> e se precisar trocar, retiramos na sua casa

    .boxQrCode
        .boxMax
            .boxImg
                img(src="https://dafitistatic.dafiti.com.br/cms/onsite/2023/black-friday/2023_10_25_16_02_39_qr-code.png", alt="")
            .boxText
                h2 Chegou a Black Friday Dafiti! Baixe o App e Arrase nas Compras!
                p Se você não quer perder nenhuma oportunidade nessa Black Friday, baixe o aplicativo Dafiti agora mesmo. Com ele, você terá acesso antecipado às ofertas e notificações instantâneas sobre seus produtos favoritos. Baixe o aplicativo Dafiti e curta toda a conveniência que você merece!
                a(href="https://www.dafiti.com.br/aplicativo-dafiti/")
                    p Baixe o App
    
    .boxAccordion
        .glitch
            h2.line <span>dúvidas sobre a</span> BLACK FRIDAY DAFITI
        +accordionComponent([
            {
                title: 'Onde encontrar chinelos com os maiores descontos na Black Friday?',
                bodyAccordion: `
                    <h4>Encontre chinelos incríveis com descontos imperdíveis na Dafiti!</h4>
                    <p>Os maiores descontos em chinelos estão na seção de ofertas da Dafiti durante a Black Friday. Fique atento às ofertas relâmpago e utilize os filtros do site para encontrar rapidamente o chinelo ideal. Aproveite essa oportunidade para renovar seu guarda-roupa sem gastar muito!</p>
                `
            },
            {
                title: 'Quais são os diferentes modelos de chinelos disponíveis na Black Friday Dafiti?',
                bodyAccordion: `
                    <p>A Dafiti oferece uma variedade de modelos de chinelos durante a Black Friday, para atender a todos os gostos e necessidades. Confira abaixo as opções disponíveis:</p>
                    <ul>
                        <li><h4><a href="https://www.dafiti.com.br/calcados/?q=chinelo">Chinelos de Dedo em Promoção</a></h4></li>
                        <li><h4><a href="https://www.dafiti.com.br/catalog/?q=chinelo+slide&amp;wtqs=1">Chinelos Slide com Descontos</a></h4></li>
                        <li><h4><a href="https://www.dafiti.com.br/catalog/?q=chinelo&amp;wtqs=1">Chinelos Casuais com Preços Especiais</a></h4></li>
                        <li><h4><a href="https://www.dafiti.com.br/esporte/?q=chinelo">Chinelos Esportivos em Oferta</a></h4></li>
                        <li><h4><a href="https://www.dafiti.com.br/calcados/?q=chinelo">Chinelos Lisos em Liquidação</a></h4></li>
                        <li><h4><a href="https://www.dafiti.com.br/calcados/?q=chinelo">Chinelos Estampados com os Melhores Descontos</a></h4></li>
                    </ul>
                `
            },
            {
                title: 'Quais são as principais marcas de chinelo na Black Friday Dafiti?',
                bodyAccordion: `
                    <p>A Black Friday da Dafiti conta com várias marcas renomadas que oferecem chinelos de alta qualidade e estilo. Veja as principais marcas disponíveis em promoção:</p>
                    <ul>
                        <li><h4><a href="https://www.dafiti.com.br/havaianas/">Black Friday Havaianas</a></h4></li>
                        <li><h4><a href="https://www.dafiti.com.br/moda/adidas/">Black Friday Adidas</a></h4></li>
                        <li><h4><a href="https://www.dafiti.com.br/melissa/">Black Friday Melissa</a></h4></li>
                        <li><h4><a href="https://www.dafiti.com.br/santa-lolla/">Black Friday Santa Lolla</a></h4></li>
                        <li><h4><a href="https://www.dafiti.com.br/colcci/">Black Friday Colcci</a></h4></li>
                    </ul>
                `
            },
            {
                title: 'Como criar looks para diferentes ocasiões com os chinelos da Black Friday Dafiti?',
                bodyAccordion: `
                    <h4>Looks Ideais para Diferentes Ocasiões com Chinelos da Black Friday Dafiti</h4>
                    <table>
                        <thead>
                            <tr>
                            <th>Ocasião</th>
                            <th>Tipo de Chinelo</th>
                            <th>Dica de Look</th>
                            <th>Melhores Marcas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>Casual</td>
                            <td>Chinelo de Dedo</td>
                            <td>Combine com shorts e camisetas para um visual leve.</td>
                            <td>Havaianas, Melissa</td>
                            </tr>
                            <tr>
                            <td>Esportivo</td>
                            <td>Slide</td>
                            <td>Use com roupas de ginástica para um look prático.</td>
                            <td>Adidas, Santa Lolla</td>
                            </tr>
                            <tr>
                            <td>Passeios Informais</td>
                            <td>Chinelo Estampado</td>
                            <td>Adicione um toque divertido ao usar com vestidos ou saias.</td>
                            <td>Colcci, Melissa</td>
                            </tr>
                            <tr>
                            <td>Praia</td>
                            <td>Chinelo Casual</td>
                            <td>Combine com maiôs ou biquínis e uma saída de praia.</td>
                            <td>Havaianas, Colcci</td>
                            </tr>
                            <tr>
                            <td>Churrasco</td>
                            <td>Chinelo de Dedo</td>
                            <td>Perfeito com bermudas e camisetas para um look descontraído.</td>
                            <td>Melissa, Santa Lolla</td>
                            </tr>
                        </tbody>
                    </table>
                `
            },
            {
                title: 'Quais as dicas para encontrar as melhores promoções de chinelos na Black Friday Dafiti?',
                bodyAccordion: `
                    <p>Para aproveitar ao máximo as ofertas da Black Friday Dafiti, siga estas dicas:</p>
                    <ol>
                        <li><h4>Siga a Dafiti nas Redes Sociais</h4>Acompanhe a Dafiti nas redes sociais para atualizações e ofertas relâmpago.</li>
                        <li><h4>Utilize Filtros de Busca</h4>Use filtros para encontrar rapidamente as melhores ofertas de chinelos na plataforma.</li>
                        <li><h4>Crie uma Lista de Desejos</h4>Adicione seus itens favoritos para ser notificado sobre qualquer desconto.</li>
                        <li><h4>Baixe o App da Dafiti</h4>Tenha acesso a ofertas exclusivas e notificações em tempo real diretamente no seu celular.</li>
                        <li><h4>Fique Atento ao Cronograma</h4>Conheça os horários em que as promoções costumam ser lançadas e não perca as melhores oportunidades.</li>
                    </ol>
                    <p>Com essas dicas, você estará preparado para encontrar os melhores descontos e fazer ótimas compras na Black Friday Dafiti!</p>
                `
            },
            {
                title: 'Como aproveitar a Black Friday Dafiti?',
                bodyAccordion: `
                    <h4>A Black Friday Dafiti é a sua oportunidade de garantir produtos de qualidade.</h4>
                    <p>Aproveitar a Black Friday na Dafiti é simples e vantajoso. Com um vasto portfólio de produtos e promoções imperdíveis, você pode criar uma lista de desejos com suas peças favoritas e garantir que não perca as melhores ofertas.</p>
                    <p>Os diferenciais da Dafiti, como a originalidade garantida, frete grátis e devolução facilitada, tornam a experiência de compra ainda mais segura e prática. Esteja preparado para agir rapidamente, pois os itens mais cobiçados costumam esgotar rapidamente, e a Dafiti oferece a confiança de que você está comprando produtos de qualidade.</p>
                `
            },
        ])

    . 
        {mais-buscados-black:latest}
    
    //- .boxSearched
        .glitch
            h2.line <span>Mais buscados da</span> BLACK
        .searched
            a(href="https://www.dafiti.com.br/nike/")
                h2 Nike Black Friday
            a(href="https://www.dafiti.com.br/adidas/")
                h2 Adidas Black Friday
            a(href="https://www.dafiti.com.br/mango/")
                h2 Mango Black Friday
            a(href="https://www.dafiti.com.br/santa-lolla/")
                h2 Santa Lolla Black Friday
            a(href="https://www.dafiti.com.br/gap/")
                h2 GAP Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/vestidos/")
                h2 Vestido Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/sandalias/")
                h2 Sandália Feminina Black Friday
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/")
                h2 Bolsa Black Friday
            a(href="https://www.dafiti.com.br/roupas-masculinas/camisetas/")
                h2 Camiseta Black Friday
            a(href="https://www.dafiti.com.br/roupas-masculinas/bermudas/")
                h2 Bermuda Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/rasteiras/")
                h2 Rasteira Black Friday
            a(href="https://www.dafiti.com.br/vizzano/")
                h2 Vizzano Black Friday
            a(href="https://www.dafiti.com.br/farm/")
                h2 FARM Black Friday
            a(href="https://www.dafiti.com.br/tricae/")
                h2 Tricae Black Friday
            a(href="https://www.dafiti.com.br/ogochi/")
                h2 Ogochi Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/mocassim/")
                h2 Mocassim Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/scarpins/")
                h2 Scarpin Black Friday
            a(href="https://www.dafiti.com.br/roupas/?q=calca%20jeans")
                h2 Calça Jeans Black Friday
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios/?q=carteira")
                h2 Carteira Black Friday
            a(href="https://www.dafiti.com.br/papete/")
                h2 Papete Black Friday
            a(href="https://www.dafiti.com.br/tommy-hilfiger/")
                h2 Tommy Hilfiger Black Friday
            a(href="https://www.dafiti.com.br/lacoste/")
                h2 Lacoste Black Friday
            a(href="https://www.dafiti.com.br/moleca/")
                h2 Moleca Black Friday
            a(href="https://www.dafiti.com.br/vans/")
                h2 Vans Black Friday
            a(href="https://www.dafiti.com.br/calvin-klein/")
                h2 Calvin Klein Black Friday
            a(href="https://www.dafiti.com.br/reserva/")
                h2 Reserva Black Friday
            a(href="https://www.dafiti.com.br/tenis/casual/")
                h2 Tênis Casual Black Friday
            a(href="https://www.dafiti.com.br/esporte-feminino/roupas/")
                h2 Roupa Fitness Black Friday
            a(href="https://www.dafiti.com.br/sneakers-dafiti/")
                h2 Sneaker Black Friday
            a(href="https://www.dafiti.com.br/calcados-masculinos/chinelos/")
                h2 Chinelo Black Friday
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios/relogio/")
                h2 Relógio Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/saias/")
                h2 Saia Black Friday
            a(href="https://www.dafiti.com.br/calcados-masculinos/sapato-social/")
                h2 Sapato Social Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/botas/")
                h2 Bota Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/calcas/")
                h2 Calça Black Friday
            a(href="https://www.dafiti.com.br/new-balance/")
                h2 New Balance Black Friday
            a(href="https://www.dafiti.com.br/asics/")
                h2 Asics Black Friday
            a(href="https://www.dafiti.com.br/havaianas/")
                h2 Havaianas Black Friday
            a(href="https://www.dafiti.com.br/esporte-masculino/acessorios-bones-e-gorros/")
                h2 Boné Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/moda-praia-biquini/")
                h2 Biquíni Black Friday

