mixin bolsas()
    .headerBlack
        .glitch-img.bgAnimation
            picture.line
                img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_30_16_23_50_unnamed.webp", alt="")
        .boxHeader
            .glitch-img-infinite
                picture.line.logotipo
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_30_16_30_30_Esquenta_pre-absurdo.png", alt="")
            .glitch
                h1.line Bolsas Black Friday Dafiti<br> <span>Os Melhores Modelos Com Descontos</span>
            .boxText
                p.text Na Black Friday da Dafiti, mergulhe no mundo das bolsas com descontos incríveis!
                p.text Descubra uma variedade de estilos, de bolsas grandes a pequenas, couro a tecido, todas a preços imperdíveis.
                p A Black Friday de 2025 acontecerá no dia 28 de novembro:
            +countdown('2025-11-28T00:00:00')
            //- .   
                {countdown-black-friday:latest}
    
    .boxForm
        .linha
        .glitch.glitch-02
            h2.line OFERTAS <span>EXCLUSIVAS</span>
        p.text Cadastre-se para receber ofertas e benefícios exclusivos das melhores marcas antes de todo mundo durante a Black Friday Dafiti.
        +template-formulario-crm('black-friday2025')
        .linha

    .boxInfos
        .bodyGroup
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_42_58_img1.png", alt="")
                p A <b>black</b> mais fashion do mundo
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_43_01_img2.png", alt="")
                p Os melhores descontos com até <b>80% off</b>
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_43_02_img3.png", alt="")
                p A melhor forma de pagamento em até <b>10x sem juros</b>
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_43_04_img4.png", alt="")
                p <b>Entrega em 24h</b> e se precisar trocar, retiramos na sua casa

    .boxQrCode
        .boxMax
            .boxImg
                img(src="https://dafitistatic.dafiti.com.br/cms/onsite/2023/black-friday/2023_10_25_16_02_39_qr-code.png", alt="")
            .boxText
                h2 Chegou a Black Friday Dafiti! Baixe o App e Arrase nas Compras!
                p Se você não quer perder nenhuma oportunidade nessa Black Friday, baixe o aplicativo Dafiti agora mesmo. Com ele, você terá acesso antecipado às ofertas e notificações instantâneas sobre seus produtos favoritos. Baixe o aplicativo Dafiti e curta toda a conveniência que você merece!
                a(href="https://www.dafiti.com.br/aplicativo-dafiti/")
                    p Baixe o App
    
    .boxAccordion
        .glitch
            h2.line <span>dúvidas sobre a</span> BLACK FRIDAY DAFITI
        +accordionComponent([
            {
                title: 'Onde encontrar os modelos de bolsas mais desejados na Black Friday?',
                bodyAccordion: `
                    <h4>
                        Na Dafiti Você Encontra a Melhor Seleção de Bolsas da Black Friday
                    </h4>
                    <p>
                        Se você está buscando os modelos de bolsas mais desejados na Black
                        Friday da Dafiti, a melhor estratégia é
                        <a href="https://www.dafiti.com.br/">navegar pelo site da Dafiti</a>
                        e explorar as seções de bolsas. Use os filtros de pesquisa no site
                        para refinar suas escolhas por tipo de bolsa, cor, marca e outros
                        detalhes importantes para você. Além disso, confira as redes
                        sociais da Dafiti para encontrar ofertas exclusivas e modelos
                        especiais para a Black Friday.
                    </p>
                `
            },
            {
                title: 'Quais são os diferentes tipos de bolsas da Black Friday Dafiti?',
                bodyAccordion: `
                    <p>
                        Durante a Black Friday, há uma variedade de bolsas em promoção,
                        diferenciadas por tamanho e material. Escolha entre
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/">bolsas grandes</a>,
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/">médias</a>
                        ou
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/">pequenas</a>. Quanto aos materiais, opções incluem
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/">couro</a>,
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/">sintético</a>,
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/">tecido</a>
                        e
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/">palha</a>
                        para um toque rústico. Esses diferentes tamanhos e materiais podem
                        ser encontrados em bolsas dos seguintes modelos:
                    </p>
                    <ul>
                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsa-saco/">Bolsa Saco em Promoção</a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsa-bau/">Bolsa Tiracolo com Desconto</a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsa-carteira-clutch/">Bolsa Clutch em Oferta</a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsa-carteiro/">Bolsa Carteiro com Preços Especiais</a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsa-transversal/">Bolsa Transversal com Ofertas Exclusivas</a>
                        </h4>
                    </li>
                    </ul>
                `
            },
            {
                title: 'Quais as principais marcas de bolsas na Black Friday Dafiti?',
                bodyAccordion: `
                    <ul>
                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/colcci/">Black Friday Colcci</a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/santa-lolla/">Black Friday Santa Lolla</a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/jorge-bischoff/">Black Friday Jorge Bischoff</a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/capodarte/">Black Friday Capodarte</a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                        <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/luiza-barcelos/">Black Friday Luiza Barcelos</a>
                        </h4>
                    </li>
                    </ul>

                    <p>
                    Essas marcas renomadas são conhecidas por oferecerem bolsas de
                    alta qualidade e estilo, sendo escolhas populares entre os
                    consumidores durante da Dafiti.
                    </p>
                `
            },
            {
                title: 'Qual o look ideal para combinar com as bolsas da Black Friday Dafiti?',
                bodyAccordion: `
                    <table border="1">
                        <tbody><tr>
                            <th>Tipo de Bolsa</th>
                            <th>Estilo Recomendado</th>
                            <th>Look Ideal</th>
                        </tr>
                        <tr>
                            <td>
                            <h4>
                                <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/">Grande</a>
                            </h4>
                            </td>
                            <td>Formal e Profissional</td>
                            <td>
                            <a href="https://www.dafiti.com.br/roupas-femininas/vestidos/">Vestido</a>
                            ou
                            <a href="https://www.dafiti.com.br/roupas-femininas/casacos-e-jaquetas-blazer/">blazer elegante</a>
                            para ocasiões de trabalho.
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h4>
                                <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/">Média</a>
                            </h4>
                            </td>
                            <td>Versátil e Casual</td>
                            <td>
                            <a href="https://www.dafiti.com.br/roupas-femininas/calcas-jeans/">Jeans</a>
                            e
                            <a href="https://www.dafiti.com.br/roupas-femininas/blusas/">blusa</a>
                            para um visual descontraído no dia a dia.
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h4>
                                <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/">Pequena</a>
                            </h4>
                            </td>
                            <td>Compacta e Prática</td>
                            <td>
                            <a href="https://www.dafiti.com.br/roupas-femininas/shorts/">Shorts</a>
                            e
                            <a href="https://www.dafiti.com.br/roupas-femininas/blusas-camisetas/">camiseta</a>
                            para um look leve e fácil de carregar.
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h4>
                                <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/">Couro</a>
                            </h4>
                            </td>
                            <td>Chique e Elegante</td>
                            <td>
                            <a href="https://www.dafiti.com.br/roupas-femininas/vestidos/">Vestido</a>
                            ou
                            <a href="https://www.dafiti.com.br/roupas-femininas/saias/">saia</a>
                            para uma aparência sofisticada.
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h4>
                                <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/">Sintética</a>
                            </h4>
                            </td>
                            <td>Moderno e Consciente</td>
                            <td>
                            <a href="https://www.dafiti.com.br/roupas-femininas/calca-social/">Calça de alfaiataria</a>
                            e
                            <a href="https://www.dafiti.com.br/roupas-femininas/blusas/">blusa</a>
                            para um estilo atual e ético.
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h4>
                                <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/">Tecido</a>
                            </h4>
                            </td>
                            <td>Leve e Casual</td>
                            <td>
                            <a href="https://www.dafiti.com.br/roupas-femininas/vestidos/">Vestido leve</a>
                            ou
                            <a href="https://www.dafiti.com.br/roupas-femininas/saias/">saia</a>
                            com
                            <a href="https://www.dafiti.com.br/roupas-femininas/blusas/">blusa</a>
                            para um visual fresco e descontraído.
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h4>
                                <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/">Palha</a>
                            </h4>
                            </td>
                            <td>Boêmio e Natural</td>
                            <td>
                            <a href="https://www.dafiti.com.br/roupas-femininas/vestidos/">Vestido leve</a>
                            ou
                            <a href="https://www.dafiti.com.br/roupas-femininas/saias-longa/">saia longa</a>
                            para um toque rústico e natural.
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h4>
                                <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsa-saco/">Saco</a>
                            </h4>
                            </td>
                            <td>Prático e Funcional</td>
                            <td>
                            <a href="https://www.dafiti.com.br/esporte-feminino/roupas/">Roupas esportivas</a>
                            ou
                            <a href="https://www.dafiti.com.br/roupas-femininas/">roupas confortáveis</a>
                            para atividades do dia a dia.
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h4>
                                <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsa-bau/">Tiracolo</a>
                            </h4>
                            </td>
                            <td>Descontraído e Moderno</td>
                            <td>
                            <a href="https://www.dafiti.com.br/roupas-femininas/calcas-jeans/">Jeans</a>
                            e
                            <a href="https://www.dafiti.com.br/roupas-femininas/blusas-camisetas/">camiseta</a>
                            para um visual casual e moderno.
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h4>
                                <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsa-bau/">Baú</a>
                            </h4>
                            </td>
                            <td>Estiloso e Único</td>
                            <td>
                            <a href="https://www.dafiti.com.br/roupas-femininas/macaquinhos-e-macacoes/">Macacão</a>
                            ou
                            <a href="https://www.dafiti.com.br/roupas-femininas/vestidos/">vestido de festa</a>
                            para ocasiões especiais.
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h4>
                                <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsa-carteira-clutch/">Clutch</a>
                            </h4>
                            </td>
                            <td>Chique e Glamoroso</td>
                            <td>
                            <a href="https://www.dafiti.com.br/roupas-femininas/vestido-longo/">Vestido longo</a>
                            e
                            <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/joias/">joias</a>
                            para eventos de gala.
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h4>
                                <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsa-carteiro/">Carteiro</a>
                            </h4>
                            </td>
                            <td>Casual e Funcional</td>
                            <td>
                            <a href="https://www.dafiti.com.br/roupas-femininas/calcas-jeans/">Calça jeans</a>
                            e
                            <a href="https://www.dafiti.com.br/roupas-femininas/camisas/">camisa</a>
                            para um look casual e prático.
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h4>
                                <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsa-sacola/">Sacola</a>
                            </h4>
                            </td>
                            <td>Utilitária e Espaçosa</td>
                            <td>
                            <a href="https://www.dafiti.com.br/roupas-femininas/">Roupas confortáveis</a>
                            para um dia de compras ou passeio.
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h4>
                                <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsa-transversal/">Transversal</a>
                            </h4>
                            </td>
                            <td>Versátil e Conveniente</td>
                            <td>
                            <a href="https://www.dafiti.com.br/roupas-femininas/calcas-casuais-calca-legging/">Leggings</a>
                            e uma
                            <a href="https://www.dafiti.com.br/roupas-femininas/blusas/">blusa solta</a>
                            para mobilidade e praticidade.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                `
            },
            {
                title: 'Como escolher a bolsa ideal na Black Friday Dafiti?',
                bodyAccordion: `
                    <p>
                        Para escolher a bolsa ideal na Black Friday da Dafiti, leve em
                        consideração os seguintes pontos:
                    </p>
                    <ul>
                        <li>
                            <h4>1. Estilo e Ocasião</h4>
                            Considere onde e como pretende usar a bolsa. Para o trabalho,
                            opte por modelos mais formais, enquanto para eventos casuais,
                            escolha bolsas descontraídas.
                        </li>
                        <li>
                            <h4>2. Tamanho e Funcionalidade</h4>
                            Avalie o que precisa carregar na bolsa. Escolha entre bolsas
                            grandes para mais espaço ou modelos compactos para praticidade.
                        </li>
                        <li>
                            <h4>3. Material e Durabilidade</h4>
                            Opte por materiais duráveis e fáceis de limpar, especialmente se
                            pretende usar a bolsa frequentemente.
                        </li>
                        <li>
                            <h4>4. Cor e Design</h4>
                            Escolha cores e designs que combinem com seu estilo e
                            guarda-roupa. Cores neutras são versáteis, mas não hesite em
                            escolher opções mais ousadas se desejar.
                        </li>
                        <li>
                            <h4>5. Marca</h4>
                            Se tem preferência por uma marca específica, verifique se ela
                            oferece descontos durante a Black Friday.
                        </li>
                        <li>
                            <h4>6. Detalhes</h4>
                            Se gosta de detalhes especiais, como monogramas, diferentes
                            texturas ou acabamentos metalizados, verifique se essas opções
                            estão disponíveis no modelo desejado.
                        </li>
                    </ul>
                `
            },
            {
                title: 'Como encontrar os melhores descontos na Black Friday Dafiti?',
                bodyAccordion: `
                    <h4>
                        Baixe Agora o App Dafiti e Tenha Acesso Exclusivo às Promoções
                    </h4>
                    <p>
                        <a href="https://www.dafiti.com.br/">Fique de olho no site</a>
                        para não perder as ofertas. Cadastre-se nem nossa newsletters para
                        receber alertas de promoções no seu e-mail. Além disso, siga a
                        Dafiti nas redes sociais, e fique por dentro das últimas ofertas.
                        Aproveite também os cupons de desconto disponíveis para economizar
                        ainda mais durante suas compras. E não se esqueça de baixar o app
                        da Dafiti, com ele você terá acesso a promoções exclusivas.
                    </p>
                `
            },
        ])

    //- . 
        {mais-buscados-black:latest}
    
    .boxSearched
        .glitch
            h2.line <span>Mais buscados da</span> BLACK
        .searched
            a(href="https://www.dafiti.com.br/nike/")
                h2 Nike Black Friday
            a(href="https://www.dafiti.com.br/adidas/")
                h2 Adidas Black Friday
            a(href="https://www.dafiti.com.br/mango/")
                h2 Mango Black Friday
            a(href="https://www.dafiti.com.br/santa-lolla/")
                h2 Santa Lolla Black Friday
            a(href="https://www.dafiti.com.br/gap/")
                h2 GAP Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/vestidos/")
                h2 Vestido Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/sandalias/")
                h2 Sandália Feminina Black Friday
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/")
                h2 Bolsa Black Friday
            a(href="https://www.dafiti.com.br/roupas-masculinas/camisetas/")
                h2 Camiseta Black Friday
            a(href="https://www.dafiti.com.br/roupas-masculinas/bermudas/")
                h2 Bermuda Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/rasteiras/")
                h2 Rasteira Black Friday
            a(href="https://www.dafiti.com.br/vizzano/")
                h2 Vizzano Black Friday
            a(href="https://www.dafiti.com.br/farm/")
                h2 FARM Black Friday
            a(href="https://www.dafiti.com.br/tricae/")
                h2 Tricae Black Friday
            a(href="https://www.dafiti.com.br/ogochi/")
                h2 Ogochi Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/mocassim/")
                h2 Mocassim Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/scarpins/")
                h2 Scarpin Black Friday
            a(href="https://www.dafiti.com.br/roupas/?q=calca%20jeans")
                h2 Calça Jeans Black Friday
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios/?q=carteira")
                h2 Carteira Black Friday
            a(href="https://www.dafiti.com.br/papete/")
                h2 Papete Black Friday
            a(href="https://www.dafiti.com.br/tommy-hilfiger/")
                h2 Tommy Hilfiger Black Friday
            a(href="https://www.dafiti.com.br/lacoste/")
                h2 Lacoste Black Friday
            a(href="https://www.dafiti.com.br/moleca/")
                h2 Moleca Black Friday
            a(href="https://www.dafiti.com.br/vans/")
                h2 Vans Black Friday
            a(href="https://www.dafiti.com.br/calvin-klein/")
                h2 Calvin Klein Black Friday
            a(href="https://www.dafiti.com.br/reserva/")
                h2 Reserva Black Friday
            a(href="https://www.dafiti.com.br/tenis/casual/")
                h2 Tênis Casual Black Friday
            a(href="https://www.dafiti.com.br/esporte-feminino/roupas/")
                h2 Roupa Fitness Black Friday
            a(href="https://www.dafiti.com.br/sneakers-dafiti/")
                h2 Sneaker Black Friday
            a(href="https://www.dafiti.com.br/calcados-masculinos/chinelos/")
                h2 Chinelo Black Friday
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios/relogio/")
                h2 Relógio Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/saias/")
                h2 Saia Black Friday
            a(href="https://www.dafiti.com.br/calcados-masculinos/sapato-social/")
                h2 Sapato Social Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/botas/")
                h2 Bota Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/calcas/")
                h2 Calça Black Friday
            a(href="https://www.dafiti.com.br/new-balance/")
                h2 New Balance Black Friday
            a(href="https://www.dafiti.com.br/asics/")
                h2 Asics Black Friday
            a(href="https://www.dafiti.com.br/havaianas/")
                h2 Havaianas Black Friday
            a(href="https://www.dafiti.com.br/esporte-masculino/acessorios-bones-e-gorros/")
                h2 Boné Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/moda-praia-biquini/")
                h2 Biquíni Black Friday

