mixin vizzano()
    .headerBlack
        .glitch-img.bgAnimation
            picture.line
                img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_30_16_23_50_unnamed.webp", alt="")
        .boxHeader
            .glitch-img-infinite
                picture.line.logotipo
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_30_16_30_30_Esquenta_pre-absurdo.png", alt="")
            .glitch
                h1.line Vizzano na Black Friday é na Dafiti<br> <span>Os Melhores Preços do Ano!</span>
            .boxText
                p.text A Black Friday é uma das melhores épocas do ano para renovar o guarda-roupa e aproveitar ofertas imperdíveis.
                p.text A marca Vizzano, conhecida por sua qualidade e estilo, é uma das grandes atrações nesta data.
                p A Black Friday de 2025 acontecerá no dia 28 de novembro:
            +countdown('2025-11-28T00:00:00')
            //- .   
                {countdown-black-friday:latest}
    
    .boxForm
        .linha
        .glitch.glitch-02
            h2.line OFERTAS <span>EXCLUSIVAS</span>
        p.text Cadastre-se para receber ofertas e benefícios exclusivos das melhores marcas antes de todo mundo durante a Black Friday Dafiti.
        +template-formulario-crm('black-friday2025')
        .linha

    .boxInfos
        .bodyGroup
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_42_58_img1.png", alt="")
                p A <b>black</b> mais fashion do mundo
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_43_01_img2.png", alt="")
                p Os melhores descontos com até <b>80% off</b>
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_43_02_img3.png", alt="")
                p A melhor forma de pagamento em até <b>10x sem juros</b>
            .card.glitch-img
                picture.line
                    img(src="https://dafitistatic.dafiti.com.br/cms/2025_10_31_09_43_04_img4.png", alt="")
                p <b>Entrega em 24h</b> e se precisar trocar, retiramos na sua casa

    .boxQrCode
        .boxMax
            .boxImg
                img(src="https://dafitistatic.dafiti.com.br/cms/onsite/2023/black-friday/2023_10_25_16_02_39_qr-code.png", alt="")
            .boxText
                h2 Chegou a Black Friday Dafiti! Baixe o App e Arrase nas Compras!
                p Se você não quer perder nenhuma oportunidade nessa Black Friday, baixe o aplicativo Dafiti agora mesmo. Com ele, você terá acesso antecipado às ofertas e notificações instantâneas sobre seus produtos favoritos. Baixe o aplicativo Dafiti e curta toda a conveniência que você merece!
                a(href="https://www.dafiti.com.br/aplicativo-dafiti/")
                    p Baixe o App
    
    .boxAccordion
        .glitch
            h2.line <span>dúvidas sobre a</span> BLACK FRIDAY DAFITI
        +accordionComponent([
            {
                title: 'Onde encontrar produtos da Vizzano com descontos na Black Friday?',
                bodyAccordion: `
                    <h4>Descubra as melhores ofertas e produtos da Vizzano na Black Friday Dafiti</h4>
                    <p>Você pode encontrar produtos da Vizzano com descontos imperdíveis durante a Black Friday acessando a seção dedicada a essa marca no site da Dafiti. Fique de olho nas promoções relâmpago e nas ofertas diárias que podem surgir durante a Black Friday.</p>
                `
            },
            {
                title: 'Quais são os principais modelos de sandálias Vizzano disponíveis na Black Friday Dafiti?',
                bodyAccordion: `
                    <p>Durante a Black Friday Dafiti, você encontrará uma variedade de modelos de sandálias Vizzano que se destacam pelo design moderno e conforto. Confira os principais tipos:</p>
                    <ul>
                    <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/sandalias/vizzano/">Sandálias com Tiras Finas da Vizzano na Black Friday</a></h4></li>
                    <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/rasteiras/vizzano/">Sandálias Rasteiras da Vizzano na Black Friday</a></h4></li>
                    <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/sandalias/vizzano/">Sandálias de Salto da Vizzano na Black Friday</a></h4></li>
                    <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/sandalia-anabela/vizzano/">Sandálias Anabela da Vizzano na Black Friday</a></h4></li>
                    <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/sandalia-plataforma/vizzano/">Sandálias Plataforma da Vizzano na Black Friday</a></h4></li>
                    <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/papete/vizzano/">Sandálias Papete da Vizzano na Black Friday</a></h4></li>
                    </ul>
                    <p>Esses modelos são ótimas opções para compor diferentes looks durante o verão, garantindo estilo e conforto em qualquer ocasião.</p>
                `
            },
            {
                title: 'Além das sandálias, quais são os outros sapatos Vizzano em destaque na Black Friday Dafiti?',
                bodyAccordion: `
                    <div class="accordion_content">
                        <ul>
                        <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/scarpins/vizzano/">Scarpins da Vizzano na Black Friday</a></h4></li>
                        <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/tenis/vizzano/">Tênis da Vizzano na Black Friday</a></h4></li>
                        <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/mocassim/vizzano/">Mocassins da Vizzano na Black Friday</a></h4></li>
                        <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/botas/vizzano/">Botas da Vizzano na Black Friday</a></h4></li>
                        <li><h4><a href="https://www.dafiti.com.br/calcados-femininos/sapatilhas/vizzano/">Sapatilhas da Vizzano na Black Friday</a></h4></li>
                        </ul>
                    </div>
                `
            },
            {
                title: 'Como montar looks para o dia a dia com as peças em oferta da Vizzano na Black Friday Dafiti?',
                bodyAccordion: `
                    <h4>Estilos de Looks para Arrasar na Black Friday com Vizzano!</h4>
                    <p>Para facilitar a escolha de looks para o dia a dia, confira a tabela abaixo, relacionando diferentes sapatos Vizzano com estilos pessoais, ocasiões e dicas de look:</p>
                    <table border="1">
                    <thead>
                        <tr>
                            <th>Sapato Vizzano</th>
                            <th>Estilo Pessoal</th>
                            <th>Ocasião</th>
                            <th>Dica de Look</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sandálias</td>
                            <td>Casual e leve</td>
                            <td>Almoço ao ar livre</td>
                            <td>Combine com vestidos leves e estampados.</td>
                        </tr>
                        <tr>
                            <td>Tênis</td>
                            <td>Despojado</td>
                            <td>Dia a dia</td>
                            <td>Use com jeans e t-shirts para um look prático.</td>
                        </tr>
                        <tr>
                            <td>Scarpins</td>
                            <td>Chic e elegante</td>
                            <td>Eventos formais</td>
                            <td>Combine com saias ou vestidos para um toque sofisticado.</td>
                        </tr>
                        <tr>
                            <td>Mocassins</td>
                            <td>Confortável</td>
                            <td>Trabalho</td>
                            <td>Use com calças de alfaiataria e blusas fluidas.</td>
                        </tr>
                        <tr>
                            <td>Botas</td>
                            <td>Estiloso</td>
                            <td>Outono/Inverno</td>
                            <td>Combine com leggings e camisetas longas.</td>
                        </tr>
                        <tr>
                            <td>Sapatilhas</td>
                            <td>Prático</td>
                            <td>Casual</td>
                            <td>Use com saias ou vestidos para um look descontraído.</td>
                        </tr>
                    </tbody>
                    </table>
                `
            },
            {
                title: 'Como encontrar as melhores promoções da Black Friday Dafiti?',
                bodyAccordion: `
                    <h4>Garanta os melhores preços e ofertas durante a Black Friday na Dafiti!</h4>
                    <p>Para encontrar as melhores promoções na Black Friday Dafiti, siga algumas dicas essenciais: acesse o site da Dafiti regularmente para estar por dentro das novidades e ofertas relâmpago. Baixe o app da Dafiti para receber atualizações e ofertas exclusivas diretamente, garantindo que você não perca nenhuma oportunidade.</p>
                    <p>Utilize filtros de pesquisa para destacar as melhores ofertas por categoria e faixa de preço, facilitando a busca pelos produtos desejados. Além disso, acompanhe as redes sociais da Dafiti, onde promoções e dicas especiais são frequentemente compartilhadas. Com essas estratégias, você pode maximizar suas chances de aproveitar descontos incríveis durante a Black Friday!</p>
                `
            },
        ])

    //- . 
        {mais-buscados-black:latest}
    
    .boxSearched
        .glitch
            h2.line <span>Mais buscados da</span> BLACK
        .searched
            a(href="https://www.dafiti.com.br/nike/")
                h2 Nike Black Friday
            a(href="https://www.dafiti.com.br/adidas/")
                h2 Adidas Black Friday
            a(href="https://www.dafiti.com.br/mango/")
                h2 Mango Black Friday
            a(href="https://www.dafiti.com.br/santa-lolla/")
                h2 Santa Lolla Black Friday
            a(href="https://www.dafiti.com.br/gap/")
                h2 GAP Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/vestidos/")
                h2 Vestido Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/sandalias/")
                h2 Sandália Feminina Black Friday
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/bolsas/")
                h2 Bolsa Black Friday
            a(href="https://www.dafiti.com.br/roupas-masculinas/camisetas/")
                h2 Camiseta Black Friday
            a(href="https://www.dafiti.com.br/roupas-masculinas/bermudas/")
                h2 Bermuda Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/rasteiras/")
                h2 Rasteira Black Friday
            a(href="https://www.dafiti.com.br/vizzano/")
                h2 Vizzano Black Friday
            a(href="https://www.dafiti.com.br/farm/")
                h2 FARM Black Friday
            a(href="https://www.dafiti.com.br/tricae/")
                h2 Tricae Black Friday
            a(href="https://www.dafiti.com.br/ogochi/")
                h2 Ogochi Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/mocassim/")
                h2 Mocassim Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/scarpins/")
                h2 Scarpin Black Friday
            a(href="https://www.dafiti.com.br/roupas/?q=calca%20jeans")
                h2 Calça Jeans Black Friday
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios/?q=carteira")
                h2 Carteira Black Friday
            a(href="https://www.dafiti.com.br/papete/")
                h2 Papete Black Friday
            a(href="https://www.dafiti.com.br/tommy-hilfiger/")
                h2 Tommy Hilfiger Black Friday
            a(href="https://www.dafiti.com.br/lacoste/")
                h2 Lacoste Black Friday
            a(href="https://www.dafiti.com.br/moleca/")
                h2 Moleca Black Friday
            a(href="https://www.dafiti.com.br/vans/")
                h2 Vans Black Friday
            a(href="https://www.dafiti.com.br/calvin-klein/")
                h2 Calvin Klein Black Friday
            a(href="https://www.dafiti.com.br/reserva/")
                h2 Reserva Black Friday
            a(href="https://www.dafiti.com.br/tenis/casual/")
                h2 Tênis Casual Black Friday
            a(href="https://www.dafiti.com.br/esporte-feminino/roupas/")
                h2 Roupa Fitness Black Friday
            a(href="https://www.dafiti.com.br/sneakers-dafiti/")
                h2 Sneaker Black Friday
            a(href="https://www.dafiti.com.br/calcados-masculinos/chinelos/")
                h2 Chinelo Black Friday
            a(href="https://www.dafiti.com.br/bolsas-e-acessorios/relogio/")
                h2 Relógio Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/saias/")
                h2 Saia Black Friday
            a(href="https://www.dafiti.com.br/calcados-masculinos/sapato-social/")
                h2 Sapato Social Black Friday
            a(href="https://www.dafiti.com.br/calcados-femininos/botas/")
                h2 Bota Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/calcas/")
                h2 Calça Black Friday
            a(href="https://www.dafiti.com.br/new-balance/")
                h2 New Balance Black Friday
            a(href="https://www.dafiti.com.br/asics/")
                h2 Asics Black Friday
            a(href="https://www.dafiti.com.br/havaianas/")
                h2 Havaianas Black Friday
            a(href="https://www.dafiti.com.br/esporte-masculino/acessorios-bones-e-gorros/")
                h2 Boné Black Friday
            a(href="https://www.dafiti.com.br/roupas-femininas/moda-praia-biquini/")
                h2 Biquíni Black Friday

